<dialog id="options-dialog" closedby="any">
    <p id="options-dialog-message" style="text-align: center; margin-bottom: 0.5rem;"></p>
    <div id="options-dialog-container" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
    <button id="options-dialog-negative" class="sidebar-button" style="display: flex; justify-content: center; margin-top: 0.5rem;">Cancel</button>
</dialog>
<script>
    const optionsDialog = document.getElementById('options-dialog');
    const optionsDialogMessage = document.getElementById('options-dialog-message');
    const optionsDialogContainer = document.getElementById('options-dialog-container');
    document.getElementById('options-dialog-negative').addEventListener('click', () => optionsDialog.close());
    function openOptionsDialog(title, options) {
        optionsDialogContainer.innerHTML = '';
        optionsDialogMessage.innerHTML = title;
        for(const { name, onClick } of options) {
            const newButton = document.createElement('button');
            newButton.id = `options-dialog-option-${name}`;
            newButton.innerHTML = name;
            newButton.className = 'sidebar-button';
            newButton.onclick = () => { onClick(); optionsDialog.close(); };
            newButton.style = 'display: flex; justify-content: center;';
            optionsDialogContainer.append(newButton);
        }
        optionsDialog.showModal();
    }
</script>