<dialog id="textarea-dialog" closedby="any">
    <p id="textarea-dialog-message"></p>
    <form id="textarea-dialog-form">
        <div class="text-field">
            <label for="textarea-dialog-textarea">description</label>
            <textarea id="textarea-dialog-textarea" name="textarea-dialog-input" type="text" style="width: 25rem; height: 12.5rem; padding: 1rem; font-size: medium;"></textarea>
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="textarea-dialog-negative" class="m3-button outlined-button" type="button">Cancel</button>
            <button id="textarea-dialog-positive" class="m3-button primary-button" style="box-shadow: none; padding-inline: 1.8rem;"></button>
        </div>
    </form>
</dialog>
<script>
    const textareaDialog = document.getElementById('textarea-dialog');
    const textareaDialogMessage = document.getElementById('textarea-dialog-message');
    const textareaDialogForm = document.getElementById('textarea-dialog-form');
    const textareaDialogTextarea = document.getElementById('textarea-dialog-textarea');
    const textareaDialogPositive = document.getElementById('textarea-dialog-positive');
    document.getElementById('textarea-dialog-negative').addEventListener('click', () => textareaDialog.close());
    let textareaDialogOnSubmit;
    function openTextareaDialog(message, positiveText, textareaValue, onSubmit) {
        textareaDialogMessage.innerHTML = message;
        textareaDialogPositive.innerHTML = positiveText;
        textareaDialogTextarea.value = textareaValue;
        textareaDialogOnSubmit = onSubmit;
        textareaDialog.showModal();
    }
    textareaDialogForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        textareaDialogOnSubmit();
        textareaDialog.close();
    });
</script>