<dialog id="upsert-dialog" closedby="any">
    <p id="upsert-dialog-message"></p>
    <form id="upsert-dialog-form">
        <div class="text-field" style="margin-bottom: 0rem;">
            <label for="upsert-dialog-input">title</label>
            <input id="upsert-dialog-input" name="upsert-dialog-input" type="text">
        </div>
        <div style="height: 1.25rem;">
            <label id="create-more-label" hidden> <input name="create-more-checkbox" type="checkbox"> Create more </label>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <button id="upsert-dialog-negative" class="m3-button outlined-button" type="button">Cancel</button>
            <button id="upsert-dialog-positive" class="m3-button primary-button" style="box-shadow: none; padding-inline: 1.8rem;"></button>
        </div>
    </form>
</dialog>
<script>
    const upsertDialog = document.getElementById('upsert-dialog');
    const upsertDialogMessage = document.getElementById('upsert-dialog-message');
    const upsertDialogForm = document.getElementById('upsert-dialog-form');
    const upsertDialogInput = document.getElementById('upsert-dialog-input')
    const upsertDialogInputLabel = document.querySelector('label[for="upsert-dialog-input"]');
    const upsertDialogPositive = document.getElementById('upsert-dialog-positive');
    const createMoreLabel = document.getElementById('create-more-label');
    const createMoreCheckbox = document.querySelector('input[name="create-more-checkbox"]');
    document.getElementById('upsert-dialog-negative').addEventListener('click', () => upsertDialog.close());
    let upsertDialogOnPositive;
    function openUpsertDialog({ message, positive, onPositive, canCreateMore, inputValue, labelValue }) {
        upsertDialogMessage.innerHTML = message;
        upsertDialogPositive.innerHTML = positive;
        upsertDialogOnPositive = onPositive;
        createMoreLabel.style.display = canCreateMore ? 'block' : 'none';
        upsertDialogInput.value = inputValue;
        upsertDialogInputLabel.innerHTML = labelValue;
        upsertDialog.showModal();
    }
    let upsertDialogMethod, upsertDialogSubmitUrl, upsertDialogReloadUrl, upsertDialogContainerId;
    function openUpsertDialogHelperUpsertAndReload(message, method, submitUrl, reloadUrl, containerId, inputValue) {
        upsertDialogMessage.innerHTML = message;
        upsertDialogMethod = method;
        upsertDialogInput.value = inputValue;
        upsertDialogPositive.innerHTML = method == 'POST' ? 'Add' : 'Rename';
        upsertDialogSubmitUrl = submitUrl;
        upsertDialogReloadUrl = reloadUrl;
        upsertDialogContainerId = containerId;
        createMoreLabel.style.display = method === 'POST' ? 'block' : 'none';
        upsertDialogOnPositive = async () => {
            const input = document.getElementById('upsert-dialog-input');
            const upsertResponse = await fetch(upsertDialogSubmitUrl + encodeURIComponent(input.value), { method: upsertDialogMethod });
            if(!upsertResponse.ok) { alert(await upsertResponse.text()); return; }
            const reloadResponse = await fetch(upsertDialogReloadUrl, { method: 'GET' });
            if(!reloadResponse.ok) { alert(await reloadResponse.text()); return; }
            const items = await reloadResponse.json();
            renderSidebarButtons(items, upsertDialogContainerId)
            upsertDialogInput.value = '';
            if(!createMoreCheckbox.checked || createMoreLabel.style.display === 'none') upsertDialog.close();
        }
        upsertDialog.showModal();
    }
    upsertDialogForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        upsertDialogOnPositive();
        upsertDialog.close();
    });
</script>