<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Manage section editor On {{currentSection}}</title>
    <link href="/util.css" rel="stylesheet"/>
</head>
<body style="margin-left: 3rem; margin-top: 2rem;">

<div class="header" style="margin: 1.5rem 0 0 1.5rem; user-select: none;">
    <h1 style="font-size: 3.5rem; align-self: flex-start;">Unipu Journals</h1>
    <p style="font-size: 1.3rem; color: var(--light-gray); margin-bottom: 3rem; align-self: flex-start; margin-left: 0.25rem;">Add section editor to {{currentSection}}</p>
</div>

<main style="flex: 1; min-width: 18rem; max-width: 32rem; padding: 1rem 2rem 0 2rem; display: flex; flex-direction: column;">
    <section>
        <h2 style="font-weight: normal; user-select: none;">Section editors</h2>
        <div style="display:flex; align-items:center; gap: 0.5rem;">
            <form id="add-section-editor-form">
                <div style="display:flex; align-items:center; gap: 0.5rem;">
                    <div class="text-field">
                        <label>Section editor mail</label>
                        <input type="email" name="email" placeholder="email@unipu.hr">
                    </div>
                    <button class="m3-button purple-button" style="padding-inline: 1rem; box-shadow: none; text-wrap: nowrap; border-radius: 0.5rem;">+ Add</button>
                </div>
            </form>
        </div>
    </section>
    <section id="section-editor-list" class="users-list" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 0.6rem; column-gap: 1.3rem;">
        {{#sectionEditorEmails}}
            <button data-email="{{.}}" class="remove-user-button">
                {{.}}
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
            </button>
        {{/sectionEditorEmails}}
    </section>
</main>

<dialog id="dialog" closedby="any" style="
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto; position: absolute;
        padding: 1.5rem;
        border: none; border-radius: 0.5rem;
    ">
    <p id="dialog-message"></p>
    <br>
    <div style="display: flex; justify-content: space-between">
        <button id="dialog-negative" class="m3-button outline-button">Cancel</button>
        <button id="dialog-positive" class="m3-button red-button">Remove</button>
    </div>
</dialog>
</body>

<script>
    const dialog = document.getElementById('dialog');
    let currentEmail = null

    document.getElementById('dialog-negative').addEventListener('click', () => dialog.close())
    document.getElementById('dialog-positive').addEventListener('click', async () => {
        const response = await fetch(`/publication/{{publicationId}}/section/{{sectionId}}/revoke-section-editor?email=${encodeURIComponent(currentEmail)}`, { method: 'DELETE' });
        if(!response.ok) { alert('failed to revoke section editor'); return; }
        document.querySelector(`.remove-user-button[data-email="${currentEmail}"]`).remove();
        dialog.close()
    });
    function dialogOpen(email) {
        document.getElementById('dialog-message').innerHTML = `Revoke section editor privileges for <b>${email}</b>`;
        currentEmail = email;
        dialog.showModal();
    }
    document.querySelectorAll('.remove-user-button').forEach(button => {
        button.addEventListener('click', () => dialogOpen(button.dataset.email));
    });
    document.getElementById('add-section-editor-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const emailInput = document.querySelector('input[name="email"]');
        const email = emailInput.value;
        const response = await fetch(`/publication/{{publicationId}}/section/{{sectionId}}/assign-section-editor?email=${encodeURIComponent(email)}`, { method: 'PUT' })
        if(!response.ok || !email) { alert('failed to add EiC'); return; }
        const newButton = document.createElement('button');
        newButton.className = 'remove-user-button';
        newButton.dataset.email = email;
        newButton.onclick = () => dialogOpen(email);
        newButton.innerHTML = `
            ${email}
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white">
                <path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
            </svg>
        `;
        document.getElementById('section-editor-list').appendChild(newButton);
        emailInput.value = ''; // clear input field
    });
</script>

<style>
    .text-field input {
        background-color: white;
    }

    @media (max-width: 1300px) {
        .users-list {
            grid-template-columns: 1fr 1fr 1fr !important;
        }
    }
    @media (max-width: 800px) {
        .users-list {
            grid-template-columns: 1fr 1fr !important;
        }

        main {
            flex-direction: column !important;
            gap: 1rem !important;
            margin-left: 2rem !important;
        }
    }
    @media (max-width: 600px) {
        .users-list {
            grid-template-columns: 1fr !important;
        }
    }
</style>
</html>