<header>
    <p class="logo-button">Unipu Journals</p>
    <nav>
        <ul>
            <li><a href="/">publications</a></li>
            <li><a href="/submit">submit</a></li>
            <li><a href="/contacts">contact</a></li>
            <li><a href="/search">search</a></li>
        </ul>
    </nav>
    <script>document.querySelector(`a[href="${window.location.pathname}"]`).style.textDecoration = 'underline'</script>

    {{#is-logged-in}}
        <a href="/profiles/{{header-profile-id}}" class="m3-button primary-outlined-button" style="border: none; padding: 0.1rem 0.5rem; text-decoration: none;">
            {{header-profile-full-name}}
            <br>
            <span style="color: lightgrey">{{header-profile-title}}</span>
        </a>
    {{/is-logged-in}}
    {{^is-logged-in}}
        <a href="/login.html" class="m3-button primary-outlined-button" style="border: none; padding: 1rem; text-decoration: none;">
            Login
        </a>
    {{/is-logged-in}}
</header>
<style>
    header {
        width: 100%;
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 3vw;
        background-color: var(--primary);
        position: sticky;
        z-index: 10;
        min-height: 8vh;
        top: 0;
        flex-wrap: wrap;
    }
    .primary-outlined-button {
        color: white;
        background-color: var(--primary);
        border: 0.1rem solid white;
        padding: 0.8rem 1rem;
        box-shadow: none;

    }
    .logo-button {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        max-height: 6vh;
        color: white;
        border: none;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    nav ul li {
        margin: 0 0.5rem;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
        max-height: 6vh;
        flex-wrap: wrap;
    }
    nav ul li a:hover {
        color: var(--yellow);
    }
</style>