<header>
    <a class="logo-button" style="text-decoration: none;" href="/">Unipu Journals</a>

    <nav>
        <ul>
            <li><a href="/">publications</a></li>
            <li><a href="/review">review</a></li>
            <li><a href="/submit">submit</a></li>
            <li><a href="/contacts">contact</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <label>
            <input type="text" class="search-bar" placeholder="Search...">
        </label>
        <svg  class="fa-solid fa-magnifying-glass" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="20px" fill="gray"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
    </div>

    {{#is-logged-in}}
        <a href="/profiles/{{header-profile-id}}" class="m3-button purple-outline-button" style="border: none; padding: 0.1rem 0.5rem; text-decoration: none;">
            {{header-profile-full-name}}
            <br>
            <span style="color: lightgrey">{{header-profile-title}}</span>
        </a>
    {{/is-logged-in}}
    {{^is-logged-in}}
        <a href="/login.html" class="m3-button purple-outline-button" style="border: none; padding: 1rem; text-decoration: none;">
            Login
        </a>
    {{/is-logged-in}}
</header>

<style>
    .search-container {
        display: flex;
        align-items: center;
        position: relative;
    }
    header {
        width: 100%;
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 3vw;
        background-color: var(--primary);
        position: sticky;
        z-index: 10;
        min-height: 8vh;
        top: 0;
        flex-wrap: wrap;
    }
    .search-bar {
        padding: 1vh 1vw;
        padding-right: 2.25rem;
        margin: 0 1vw;
        border: none;
        border-radius: 1rem;
        background-color: white;
        color: var(--gray);
        font-size: 1rem;
    }
    .search-bar:focus {
        outline: none;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    }
    .purple-outline-button {
        color: white;
        background-color: var(--primary);
        border: 0.1rem solid white;
        padding: 0.8rem 1rem;
        box-shadow: none;

    }
    .purple-outline-button:hover {
        background-color: var(--primary);
    }
    .logo-button {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        max-height: 6vh;
        color: white;
        border: none;
        cursor: pointer;

    }
    nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    nav ul li {
        margin: 0 0.5rem;
    container}
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
        max-height: 6vh;
        flex-wrap: wrap;
    }
    nav ul li a:hover {
        color: var(--yellow);
    }
    nav ul li a:active {
        text-decoration: underline;
    }
    .purple-outline-button {
        background-color: var(--primary);
        border: 0.1rem solid white;
        color: white;
        padding: 0.8rem 1rem;
        box-shadow: none;

    }
    .purple-outline-button:hover {
        background-color: var(--primary);
    }
</style>