<header style="width: 100%">
    <a class="logo-button" style="text-decoration: none;" href="/">Unipu Journals</a>

    <nav>
        <ul>
            <li><a href="/">publications</a></li>
            <li><a href="/review">review</a></li>
            <li><a href="/submit">submit</a></li>
            <li><a href="/archive">archive</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/hidden">hidden</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <label>
            <input type="text" class="search-bar" placeholder="Search...">
        </label>
        <img src="/icon/search.svg" class="fa-solid fa-magnifying-glass">
    </div>

    <button class="m3-button purple-outline-button" style="border: none; padding: 0.1rem 0.5rem;">
        Marko Markić
        <br>
        <span style="color: lightgrey">dr.sc.</span>
    </button>
</header>

<style>
    @media (max-width: 1008px) {
        .logo-button, .search-container, .m3-button.purple-outline-button {
            order: 1;
        }
        nav {
            order: 2;
            flex:100%;
            margin-top: 0.5rem;
        }
    }
</style>