<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EiC Initial Review Page</title>

    <link rel="stylesheet" href="/util.css" />
</head>

<body>
{{>util/header}}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh; gap: 1rem;">

    <section class="container article-box" style="padding: 0.8rem; max-width: 70vw; width: 70vw;">
        {{#manuscripts}}
            <article>
                <div style="display: flex; justify-content: space-between; align-items: flex-start; font-weight: 100; font-size: 0.8rem;">
                    <div>
                        <p style="font-weight: bold; font-size: 1rem;">{{title}}</p>
                        <div class="authors" style="display: flex; flex-wrap: wrap;">{{#authors}} <button>{{.}}</button> {{/authors}}</div>
                        <p>{{submissionDate}}       ID: <!--<publishing_key>-<section_key>-<increasing_6digit_id>--></p>
                        <p style="margin-top: 0.2rem;">{{description}}</p>
                    </div>
                    <button class="m3-button outline-button download-button" style="padding: 0.3rem 2rem; font-size: 1rem; color: var(--beige); border-color: var(--beige); border-radius: 0.8rem; border-width: 1.2px; font-weight: bold">
                        Download
                    </button>
                </div>
            </article>
        {{/manuscripts}}
    </section>

    <div class="wrapper" style="display: flex; flex-direction: column; align-items: flex-start; gap: 0.5rem; max-width: 70vw; width: 70vw;">
        <div class="text-field" style="width: 16rem;">
            <label>editor email</label>
            <input type="email" placeholder="editor@mail.com"/>
        </div>

        <div style="display: flex; gap: 2rem;">
            <button class="m3-button green-button" style="padding: 1rem 3rem; font-size: 2.5rem;">Accept</button>
            <button class="m3-button light-red-button" style="padding: 1rem 3.4rem; font-size: 2.5rem;">Reject</button>
        </div>
    </div>
</div>
</body>

<style>
    .text-field input {
        background-color: inherit;
    }
    .download-button:hover {
        color: var(--primary) !important;
    }
    @media (max-width: 800px) {
        .article-box {
            width: 28rem !important;
            min-height: 15rem !important;
            max-width: 90vw !important;
        }
        .wrapper {
            max-width: 90vw !important;
            width: 90vw !important;
        }
    }
</style>
</html>