<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EiC Initial Review Page</title>

    <link rel="stylesheet" href="/util.css" />
</head>

<body>
{{>util/header}}
{{>util/components/manuscript/element}}
{{>util/dialog/info}}
{{>util/dialog/boolean}}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
    <div>
        {{#manuscript}}
            <manuscript-element
                style="width: 50%;"
                id = '{{id}}'
                title = '{{title}}'
                description = '{{description}}'
                corresponding-author = '{{{correspondingAuthor}}}'
                registered-authors = '{{{registeredAuthors}}}'
                unregistered-authors = '{{{unregisteredAuthors}}}'
                submission-date = '{{submissionDate}}'
                files = '{{{files}}}'
                is-overseeing = '{{isOverseeing}}'
                roles = '{{{roles}}}'
                state = '{{state}}'
            ></manuscript-element>
        {{/manuscript}}

        <div class="wrapper" style="display: flex; flex-direction: column; width: auto;">
            <div id="editor-email-div" class="text-field" style="width: 16rem;">
                <label for="editor-email-input">editor email</label>
                <input id="editor-email-input" type="email" placeholder="editor@email.com" style="background-color: inherit;"/>
            </div>
            <div style="display: flex; gap: 2rem;">
                <button id="accept" class="m3-button green-button" style="padding: 1rem 3rem; font-size: 2.5rem; box-shadow: none;">Accept</button>
                <button id="reject" class="m3-button red-button" style="padding: 1rem 3.4rem; font-size: 2.5rem;">Reject</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const path = window.location.pathname;
    const manuscriptId = path.replace('/review/', '');
    const isEicReview = '{{type}}' === 'EIC';
    const newAcceptedState = isEicReview ? 'AWAITING_EDITOR_REVIEW' : 'AWAITING_ROUND_INITIALIZATION';
    const editorEmailInput = document.getElementById('editor-email-input')
    document.getElementById('editor-email-div').hidden = !isEicReview;
    document.getElementById('accept').addEventListener('click', async () => {
        const response = await fetch(`/api/manuscripts/${manuscriptId}?newState=${newAcceptedState}`, { method: 'PUT' });
        if(!response.ok) { alert(await response.text()); return; }
        if(isEicReview) {
            const response = await fetch(`/api/account-role-on-manuscript`, { method: 'POST', body: new URLSearchParams({
                email: [editorEmailInput.value],
                role: 'EDITOR',
                manuscriptId
            })});
            if(!response.ok) { alert(await response.text()); return; }
        }
        isEicReview ? history.back() : location.reload();
    });
    document.getElementById('reject').addEventListener('click', async () => {
        const response = await fetch(`/api/manuscripts/${manuscriptId}?newState=REJECTED`, { method: 'PUT' });
        if(!response.ok) { alert(await response.text()); return; }
        history.back();
    });
</script>
</html>