<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Review History Page</title>
    <link rel="stylesheet" href="/util.css" />
</head>
<body>
{{>util/header}}
<div class="content">
    <aside style="flex: 0 0 300px;">
        <section class="container" style="padding-block: 2.4rem; flex-direction: row;">
            {{#reviewerWithRounds}}
                <div style="display: flex; flex-direction: column; align-items: center; margin-left: 0.8rem;">
                        <button style="text-decoration: underline; background-color: inherit; border: none;">Reviewer {{reviewer}}</button>
                        <div style="display: flex; flex-direction: column;">
                        {{#rounds}}
                            <button onclick="window.location = '/manuscript/{{manuscriptId}}/review-history/reviewer/{{reviewer}}/round/{{.}}'"
                                    style="cursor: pointer; background-color: inherit; border: none;">round_{{.}}</button>
                        {{/rounds}}
                        </div>
                </div>
            {{/reviewerWithRounds}}
        </section>

        <div class="container" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
            <p style="font-size: 1.5rem;">Review {{round}}</p>
            <p style="font-size: 0.9rem; color: var(--light-gray);">{{submissionDate}}</p>
        </div>

        <section class="container">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>Reviewer's comment</p>
                <div class="pdf-container" style="padding-inline: 1rem; background-color: white;">
                    <a href="{{reviewerCommentFileUrl}}">download</a>
                </div>
            </div>
            <section class="container" style="margin: 0.5rem; min-height: 15rem; max-height: 15rem;">{{reviewerComment}}</section>
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>Author's reply</p>
                <div class="pdf-container" style="padding-inline: 1rem; background-color: white;">
                    <a href="{{authorResponseFileUrl}}">download</a>
                </div>
            </div>
            <section class="container " style="margin: 0.5rem; min-height: 15rem; max-height: 15rem;">{{authorResponse}}</section>
        </section>
    </aside>

    <main>
        <form>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
                <section style="padding: 0.8rem; min-height: 9.5rem; max-height: 9.5rem; line-height: 1.7rem; max-width: 70%;">
                    <p style="font-size: 1.5rem;">{{title}}</p>
                    <p style="font-size: 0.9rem; color: var(--light-gray)">{{publicationDate}}</p>
                    <p style="font-size: 0.9rem; color: var(--light-gray);">{{abstract}}</p>
                </section>

                {{#isUnderReviewAndViewerIsAffiliated}}
                    <button class="m3-button yellow-button" style="width: fit-content; padding: 1rem 2rem;">decision</button>
                {{/isUnderReviewAndViewerIsAffiliated}}
            </div>

            <fieldset style="border: none;">
                <section class="Recommendations">
                    <div class="recommendations-tables" style="display: flex; gap: 1rem; align-items: stretch;">
                        <div class="container rating-table-container" style="min-width: 22rem; padding-right: 1rem; font-weight: 100;">
                            <table class="rating-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="padding-left: 0.2rem;">1</th>
                                    <th style="padding-left: 0.3rem;">2</th>
                                    <th style="padding-left: 0.3rem;">3</th>
                                    <th style="padding-left: 0.3rem;">4</th>
                                    <th style="padding-left: 0.3rem;">5</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Novelty</td>
                                    <td><input type="radio" class="blue-checkbox" name="novelty" value="1" disabled {{#novelty1}}checked{{/novelty1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="novelty" value="2" disabled {{#novelty2}}checked{{/novelty2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="novelty" value="3" disabled {{#novelty3}}checked{{/novelty3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="novelty" value="4" disabled {{#novelty4}}checked{{/novelty4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="novelty" value="5" disabled {{#novelty5}}checked{{/novelty5}}></td>
                                </tr>
                                <tr>
                                    <td>Significance</td>
                                    <td><input type="radio" class="blue-checkbox" name="significance" value="1" disabled {{#significance1}}checked{{/significance1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="significance" value="2" disabled {{#significance2}}checked{{/significance2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="significance" value="3" disabled {{#significance3}}checked{{/significance3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="significance" value="4" disabled {{#significance4}}checked{{/significance4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="significance" value="5" disabled {{#significance5}}checked{{/significance5}}></td>
                                </tr>
                                <tr>
                                    <td>Technical Quality</td>
                                    <td><input type="radio" class="blue-checkbox" name="technical_quality" value="1" disabled {{#technicalQuality1}}checked{{/technicalQuality1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="technical_quality" value="2" disabled {{#technicalQuality2}}checked{{/technicalQuality2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="technical_quality" value="3" disabled {{#technicalQuality3}}checked{{/technicalQuality3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="technical_quality" value="4" disabled {{#technicalQuality4}}checked{{/technicalQuality4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="technical_quality" value="5" disabled {{#technicalQuality5}}checked{{/technicalQuality5}}></td>
                                </tr>
                                <tr>
                                    <td>Clarity</td>
                                    <td><input type="radio" class="blue-checkbox" name="clarity" value="1" disabled {{#clarity1}}checked{{/clarity1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="clarity" value="2" disabled {{#clarity2}}checked{{/clarity2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="clarity" value="3" disabled {{#clarity3}}checked{{/clarity3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="clarity" value="4" disabled {{#clarity4}}checked{{/clarity4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="clarity" value="5" disabled {{#clarity5}}checked{{/clarity5}}></td>
                                </tr>
                                <tr>
                                    <td>Methodology</td>
                                    <td><input type="radio" class="blue-checkbox" name="methodology" value="1" disabled {{#methodology1}}checked{{/methodology1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="methodology" value="2" disabled {{#methodology2}}checked{{/methodology2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="methodology" value="3" disabled {{#methodology3}}checked{{/methodology3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="methodology" value="4" disabled {{#methodology4}}checked{{/methodology4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="methodology" value="5" disabled {{#methodology5}}checked{{/methodology5}}></td>
                                </tr>
                                <tr>
                                    <td>Relevance to the Publication</td>
                                    <td><input type="radio" class="blue-checkbox" name="relevance" value="1" disabled {{#relevanceToThePublication1}}checked{{/relevanceToThePublication1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="relevance" value="2" disabled {{#relevanceToThePublication2}}checked{{/relevanceToThePublication2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="relevance" value="3" disabled {{#relevanceToThePublication3}}checked{{/relevanceToThePublication3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="relevance" value="4" disabled {{#relevanceToThePublication4}}checked{{/relevanceToThePublication4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="relevance" value="5" disabled {{#relevanceToThePublication5}}checked{{/relevanceToThePublication5}}></td>
                                </tr>
                                <tr>
                                    <td>Language Quality</td>
                                    <td><input type="radio" class="blue-checkbox" name="language_quality" value="1" disabled {{#languageQuality1}}checked{{/languageQuality1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="language_quality" value="2" disabled {{#languageQuality2}}checked{{/languageQuality2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="language_quality" value="3" disabled {{#languageQuality3}}checked{{/languageQuality3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="language_quality" value="4" disabled {{#languageQuality4}}checked{{/languageQuality4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="language_quality" value="5" disabled {{#languageQuality5}}checked{{/languageQuality5}}></td>
                                </tr>
                                <tr>
                                    <td>Overall Mark</td>
                                    <td><input type="radio" class="blue-checkbox" name="overall_mark" value="1" disabled {{#overallMark1}}checked{{/overallMark1}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="overall_mark" value="2" disabled {{#overallMark2}}checked{{/overallMark2}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="overall_mark" value="3" disabled {{#overallMark3}}checked{{/overallMark3}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="overall_mark" value="4" disabled {{#overallMark4}}checked{{/overallMark4}}></td>
                                    <td><input type="radio" class="blue-checkbox" name="overall_mark" value="5" disabled {{#overallMark5}}checked{{/overallMark5}}></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="container" style="display: flex; flex-direction: column; justify-content: space-between; max-width: 42rem; padding-inline: 1rem; font-weight: 100;">
                            <div class="check-question" style="display: flex; align-items: center; margin-bottom: 1rem; margin-top: 0.5rem; gap: 1rem;">
                                <p style="flex: 1;">Does the introduction provide sufficient background and include all relevant references?</p>
                                <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                                    <input type="radio" id="intro-yes" name="intro" value="yes" disabled {{#sufficientBackground1}}checked{{/sufficientBackground1}}>
                                    <label for="intro-yes" class="checkbox">Yes</label>

                                    <input type="radio" id="intro-impr" name="intro" value="improved" disabled {{#sufficientBackground2}}checked{{/sufficientBackground2}}>
                                    <label for="intro-impr" class="checkbox">Can be improved</label>

                                    <input type="radio" id="intro-must" name="intro" value="must" disabled {{#sufficientBackground3}}checked{{/sufficientBackground3}}>
                                    <label for="intro-must" class="checkbox">Must be improved</label>
                                </div>
                            </div>
                            <div class="check-question" style="display: flex; align-items: center; margin-bottom: 1rem; gap: 1rem;">
                                <p style="flex: 1;">Is the research design appropriate?</p>
                                <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                                    <input type="radio" id="design-yes" name="design" value="yes" disabled {{#appropriateResearchDesign1}}checked{{/appropriateResearchDesign1}}>
                                    <label for="design-yes" class="checkbox">Yes</label>

                                    <input type="radio" id="design-impr" name="design" value="improved" disabled {{#appropriateResearchDesign2}}checked{{/appropriateResearchDesign2}}>
                                    <label for="design-impr" class="checkbox">Can be improved</label>

                                    <input type="radio" id="design-must" name="design" value="must" disabled {{#appropriateResearchDesign3}}checked{{/appropriateResearchDesign3}}>
                                    <label for="design-must" class="checkbox">Must be improved</label>
                                </div>
                            </div>
                            <div class="check-question" style="display: flex; align-items: center; margin-bottom: 1rem; gap: 1rem;">
                                <p style="flex: 1;">Are the methods adequately described?</p>
                                <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                                    <input type="radio" id="methods-yes" name="methods" value="yes" disabled {{#adequatelyDescribed1}}checked{{/adequatelyDescribed1}}>
                                    <label for="methods-yes" class="checkbox">Yes</label>

                                    <input type="radio" id="methods-impr" name="methods" value="improved" disabled {{#adequatelyDescribed2}}checked{{/adequatelyDescribed2}}>
                                    <label for="methods-impr" class="checkbox">Can be improved</label>

                                    <input type="radio" id="methods-must" name="methods" value="must" disabled {{#adequatelyDescribed3}}checked{{/adequatelyDescribed3}}>
                                    <label for="methods-must" class="checkbox">Must be improved</label>
                                </div>
                            </div>
                            <div class="check-question" style="display: flex; align-items: center; margin-bottom: 1rem; gap: 1rem;">
                                <p style="flex: 1;">Are the results clearly presented?</p>
                                <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                                    <input type="radio" id="results-yes" name="results" value="yes" disabled {{#clearlyPresented1}}checked{{/clearlyPresented1}}>
                                    <label for="results-yes" class="checkbox">Yes</label>

                                    <input type="radio" id="results-impr" name="results" value="improved" disabled {{#clearlyPresented2}}checked{{/clearlyPresented2}}>
                                    <label for="results-impr" class="checkbox">Can be improved</label>

                                    <input type="radio" id="results-must" name="results" value="must" disabled {{#clearlyPresented3}}checked{{/clearlyPresented3}}>
                                    <label for="results-must" class="checkbox">Must be improved</label>
                                </div>
                            </div>
                            <div class="check-question" style="display: flex; align-items: center; gap: 1rem;">
                                <p style="flex: 1;">Are the conclusions supported by the results?</p>
                                <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                                    <input type="radio" id="conclusions-yes" name="conclusions" value="yes" disabled {{#supportedConclusions1}}checked{{/supportedConclusions1}}>
                                    <label for="conclusions-yes" class="checkbox">Yes</label>

                                    <input type="radio" id="conclusions-impr" name="conclusions" value="improved" disabled {{#supportedConclusions2}}checked{{/supportedConclusions2}}>
                                    <label for="conclusions-impr" class="checkbox">Can be improved</label>

                                    <input type="radio" id="conclusions-must" name="conclusions" value="must" disabled {{#supportedConclusions3}}checked{{/supportedConclusions3}}>
                                    <label for="conclusions-must" class="checkbox">Must be improved</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <section class="comments-section">
                        <div style="display: flex; gap: 2rem; align-items: flex-start; margin-top: -0.5rem;">
                            <div style="flex: 0.8;">
                                <div class="container" style="padding: 0.7rem 1.5rem; font-weight: 100;">
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                        <span>Do you have any conflict of interest regarding this manuscript?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="conflict_interest" value="yes" disabled {{#conflict}}checked{{/conflict}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="conflict_interest" value="no" disabled {{^conflict}}checked{{/conflict}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                        <span>Did you detect plagiarism?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="plagiarism" value="yes" disabled {{#plagiarism}}checked{{/plagiarism}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="plagiarism" value="no" disabled {{^plagiarism}}checked{{/plagiarism}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                        <span>Did you detect inappropriate use of LLM tools?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="llm_used" value="yes" disabled {{#llm}}checked{{/llm}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="llm_used" value="no" disabled {{^llm}}checked{{/llm}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                        <span>Did you detect inappropriate self-citations by the authors?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="self_citation" value="yes" disabled {{#selfCitation}}checked{{/selfCitation}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="self_citation" value="no" disabled {{^selfCitation}}checked{{/selfCitation}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                        <span>Are the references appropriate and relevant?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="references" value="yes" disabled {{#appropriateReferences}}checked{{/appropriateReferences}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="references" value="no" disabled {{^appropriateReferences}}checked{{/appropriateReferences}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-question" style="display: flex; justify-content: space-between; align-items: center;">
                                        <span>Do you have any other ethical concerns?</span>
                                        <div style="display: flex; gap: 0.5rem;">
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="ethical_concerns" value="yes" disabled {{#ethicalConcerns}}checked{{/ethicalConcerns}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                                            </label>
                                            <label class="pale-yellow-checkbox-button">
                                                <input type="radio" name="ethical_concerns" value="no" disabled {{^ethicalConcerns}}checked{{/ethicalConcerns}}>
                                                <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; align-items: flex-end; gap: 0.5rem;">
                                <div class="container recommendation" style="display: flex; align-items: center; gap: 1.8rem; padding: 5rem;">
                                    <p><b>Recommendation</b></p>
                                    <div style="display: flex; gap: 0.5rem;">
                                    {{#accept}}<div class="m3-button" style="background-color: var(--green); color: black;">Accept</div>{{/accept}}
                                    {{#minor}}<div class="m3-button" style="background-color: var(--yellow); color: black;">Minor</div>{{/minor}}
                                    {{#major}}<div class="m3-button" style="background-color: var(--orange); color: black;">Major</div>{{/major}}
                                    {{#reject}}<div class="m3-button" style="background-color: var(--red); color: black;">Rejected</div>{{/reject}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </fieldset>
        </form>
    </main>
</div>
</body>
<style>
    input, label, span, div { cursor: default !important; }
    .content {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }
    main {
        flex: 1;

    }
    .container {
        cursor: default;
        width: auto !important;
        height: auto !important;
        margin-bottom: 1rem;
    }
    aside .container {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: 100;
    }
    .container:hover {
        background-color: white;
    }
    .container.recommendation {
        padding: 2rem !important;
    }
    .rating-table td:first-child { /* td is table data */
        text-align: right;
        padding-right: 1rem;
    }
    .rating-table td, .rating-table th {
        padding: 0.1rem 0.4rem;
    }
    .rating-table th {
        padding-left: 0.8rem;
        text-align: center;
    }
    .pale-yellow-checkbox-button .checkbox {
        width: fit-content;
        white-space: nowrap;
        padding: 0.2rem 0.5rem;
    }
    .download-button:hover {
        color: var(--purple) !important;
    }
    .orange-button:hover {
        background-color: var(--orange);
    }
    .orange-button:active {
        background-color: var(--orange);
    }
    .orange-button:nth-child(1):hover,
    .orange-button:nth-child(1):active {
        background-color: var(--green) !important;
        color: black;
    }
    .orange-button:nth-child(2):hover,
    .orange-button:nth-child(2):active {
        background-color: var(--yellow) !important;
        color: black !important;
    }
    .orange-button:nth-child(4):hover,
    .orange-button:nth-child(4):active {
        background-color: var(--pink) !important;
        color: black;
    }
    @media screen and (max-width: 1300px) {
        .content {
            display: flex;
            flex-direction: column;
        }
        .container .article {
            width: 96vw !important;
            max-width: 100vw !important;
        }
        .recommendations-description {
            width: 96vw !important;
            max-width: 100vw !important;
        }
        .recommendations-tables {
            flex-direction: column !important;
            gap: 1rem !important;
        }
        .rating-table-container {
            width: 100% !important;
            min-width: auto !important;
            max-width: 27rem !important;
        }
        .check-question {
            flex-direction: column !important;
            align-items: flex-start !important;
            gap: 0.5rem !important;
        }
        .check-question p {
            white-space: normal !important;
            max-width: 100% !important;
        }
        .pale-yellow-checkbox-button {
            align-self: flex-start !important;
        }
        .recommendations-tables .container:last-child {
            width: 100% !important;
            max-width: 87vw !important;
            min-width: auto !important;
        }
        .orange-button {
            padding-inline: 1.5rem !important;
            font-size: clamp(0.7rem, 2vw, 1rem) !important;
            white-space: nowrap;
            min-width: 0;
        }
        .comments-section > div:last-child {
            gap: 1rem !important;
        }
        .container .article-box {
            order: 1;
            width: 96vw !important;
            max-width: 100vw !important;
            margin-bottom: 1rem;
        }
        #comment {
            width: 95vw !important;
        }
    }
</style>
</html>