<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Review Page</title>
    <link rel="stylesheet" href="/util.css" />
</head>
<body>
{{>util/header}}
{{>util/components/manuscript/element}}
{{>util/dialog/info}}
{{>util/dialog/boolean}}
{{>util/dialog/textarea}}
<style>
    input[name="review"]:checked + label {
        background-color: black;
        color: white;
    }
</style>
<div class="content">
    <aside style="flex: 0 0 300px;">
        <section id="reviews-container" class="container" style="display: flex; flex-direction: row; padding-block: 2.4rem; margin-bottom: 0.9rem; cursor: default;"></section>
        <section class="container" style="cursor: default;">
            <p id="reviewer-and-round"></p>
            <p id="review-recommendation">recommendation: _INSERT RECOMMENDATION_</p>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>Reviewer's comment</p>
                <button id="reviewer-comment-files" style="background: none; border: none; color: blue; text-decoration: underline; font-size: medium; cursor: pointer; padding-inline-end: 1rem;">files</button>
            </div>
            <section id="reviewer-comment" class="container" style="margin: 0.5rem; min-height: 15rem; max-height: 15rem; cursor: default;"></section>
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p>Author's reply</p>
                <button id="author-response-files" style="background: none; border: none; color: blue; text-decoration: underline; font-size: medium; cursor: pointer; padding-inline-end: 1rem;">files</button>
            </div>
            <section id="author-response" class="container" style="margin: 0.5rem; min-height: 15rem; max-height: 15rem; cursor: default;"></section>
            <button id="view-full-review" class="m3-button yellow-button" style="margin: 0.5rem; white-space: nowrap;">View full review</button>
        </section>
    </aside>
    <main style="flex: 1;">
        <form id="form">
            <div class="main-container" style="display: flex; align-items: flex-start; gap: 0.5rem;">
                {{#manuscript}}
                    <manuscript-element
                        style="width: 100%;"
                        id = '{{id}}'
                        title = '{{title}}'
                        description = '{{description}}'
                        corresponding-author = '{{{correspondingAuthor}}}'
                        registered-authors = '{{{registeredAuthors}}}'
                        unregistered-authors = '{{{unregisteredAuthors}}}'
                        submission-date = '{{submissionDate}}'
                        files = '{{{files}}}'
                        is-overseeing = '{{isOverseeing}}'
                        roles = '{{{roles}}}'
                        category = '{{category}}'
                        state = '{{state}}'
                    ></manuscript-element>
                {{/manuscript}}

                <div style="display: flex; flex-direction: column; gap: 0.5rem;">
                    <button class="m3-button green-button" style="box-shadow: none;">Submit Review</button>
                    <button type="button" onclick="window.location=`/manuscripts/{{manuscriptId}}/review-history`" class="m3-button primary-button" style="background-color: var(--periwinkle); text-wrap: nowrap;">Review history</button>
                    <button id="end-round" type="button" class="m3-button primary-button">End round</button>
                </div>
            </div>
            <fieldset style="border: none;">
                <section class="Recommendations">
                    <div class="recommendations-tables" style="display: flex; gap: 1rem; align-items: stretch;">
                        <div class="container rating-table-container" style="min-width: 22rem; padding-right: 1rem; font-weight: 100;">
                            <table class="rating-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="padding-left: 0.2rem;">1</th>
                                    <th style="padding-left: 0.3rem;">2</th>
                                    <th style="padding-left: 0.3rem;">3</th>
                                    <th style="padding-left: 0.3rem;">4</th>
                                    <th style="padding-left: 0.3rem;">5</th>
                                </tr>
                                </thead>
                                <tbody id="rating-tbody"></tbody>
                            </table>
                        </div>
                        <div id="check-questions-container" class="container" style="display: flex; flex-direction: column; justify-content: space-between; max-width: 42rem; padding-inline: 1rem; font-weight: 100;"></div>
                        <div class="container" style="display: flex; flex-direction: column; gap: 0.7rem; justify-content: center; width: 5rem;">
                            <b style="text-align: center;">Recommendation</b> <br>
                            <label for="accept" class="sidebar-button" style="display: flex; justify-content: center; max-width: 100%;">Accept</label>
                            <label for="minor" class="sidebar-button" style="display: flex; justify-content: center; max-width: 100%;">Minor</label>
                            <label for="major" class="sidebar-button" style="display: flex; justify-content: center; max-width: 100%;">Major</label>
                            <label for="reject" class="sidebar-button" style="display: flex; justify-content: center; max-width: 100%;">Reject</label>
                            <div style="display: flex; justify-content: center;">
                                <input type="radio" id="major" name="recommendation" value="MAJOR" style="width: 1px; opacity: 0.01;" >
                                <input type="radio" id="accept" name="recommendation" value="ACCEPT" style="width: 1px; opacity: 0.01;">
                                <input type="radio" id="minor" name="recommendation" value="MINOR" style="width: 1px; opacity: 0.01;">
                                <input type="radio" id="reject" name="recommendation" value="REJECT" style="width: 1px; opacity: 0.01;" required>
                            </div>
                        </div>
                        <style>
                            .sidebar-button.selected {
                                background-color: var(--primary);
                                color: white;
                            }
                        </style>
                        <script>
                            document.querySelectorAll('input[name="recommendation"]').forEach(radio => {
                                radio.addEventListener('change', () => {
                                    document.querySelectorAll('.sidebar-button').forEach(label => {
                                    label.classList.remove('selected');
                                    });
                                    const selectedLabel = document.querySelector(`label[for="${radio.id}"]`);
                                    if(selectedLabel) selectedLabel.classList.add('selected');
                                });
                            });
                        </script>
                    </div>
                    <section>
                        <div style="display: flex; gap: 0.5rem;">
                            <div class="text-field" style="margin: 0;">
                                <label for="comment">Comments and suggestions for author</label>
                                <textarea id="comment" name="reviewerComment" required style="width: 100%; resize: vertical; max-height: fit-content; min-height: 20rem; padding: 1rem 2rem 3rem 2rem; font-size: 1rem;"></textarea>
                                <input type="file" name="reviewerCommentFiles" multiple/>
                            </div>
                            <div style="display: flex; gap: 5rem; align-items: flex-start;">
                                <div id="boolean-questions-container" class="container" style="padding: 0.7rem 1.5rem; font-weight: 100;"></div>
                            </div>
                        </div>
                    </section>
                </section>
            </fieldset>
        </form>
    </main>
</div>
</body>
<script>
    let reviewerCommentFiles, authorResponseFiles;
    document.getElementById('reviewer-comment-files').addEventListener('click', () => openInfoDialog(JSON.stringify(reviewerCommentFiles)));
    document.getElementById('author-response-files').addEventListener('click', () => openInfoDialog(JSON.stringify(authorResponseFiles)));
    (async () => {
        const reviewerIdAndReviews = await (await fetch(`/api/manuscripts/{{manuscriptId}}/reviews?isComplete=true`, { method: 'GET' })).json();
        const isAuthorized = Object.entries(reviewerIdAndReviews)[0]?.[0] != 1; // [0].reviewerId != 1 (1-n used for unauthorized)
        const reviewsAndFiles = Object.entries(reviewerIdAndReviews).map(([reviewerId, reviewsAndFiles]) => reviewsAndFiles).flat();
        const reviews = Object.entries(reviewerIdAndReviews).map(([reviewerId, reviewsAndFiles]) => Object.entries(reviewsAndFiles).map(([key, value]) => value.first)).flat(); // value.second is files
        const roundMap = new Map([...new Set(reviews.map(r => r.manuscriptReviewRoundId))].map((id, index) => [id, index + 1]));
        Object.entries(reviewerIdAndReviews).forEach(([reviewerId, reviewsAndFiles]) => {
            const div = document.createElement('div');
            div.style = 'display: flex; flex-direction: column; align-items: center; margin-left: 0.8rem;';
            div.innerHTML = /*html*/`
                <button onclick="if(${isAuthorized}) window.location='/profiles/${reviewerId}';" style="text-decoration: underline; background-color: inherit; border: none; cursor: pointer;">Reviewer ${reviewerId}</button>
                <div style="display: flex; flex-direction: column;">
                    ${Object.entries(reviewsAndFiles).map(([key, value]) => value.first) // reviews
                        .sort((a, b) => a.manuscriptReviewRoundId - b.manuscriptReviewRoundId)
                        .map((review, index) => /*html*/`
                            <input id="review-${review.id}" name="review" value="${review.id}" type="radio" hidden>
                            <label for="review-${review.id}">round_${roundMap.get(review.manuscriptReviewRoundId)}</label>
                        `).join('')}
                </div>
            `;
            document.getElementById('reviews-container').appendChild(div);
        });

        const inlineDisplayableTypes = ["txt", "log", "md", "markdown", "csv", "tsv", "json", "jsonl", "jsonld", "xml", "yaml", "yml", "toml", "ini", "cfg", "conf", "env", "sql", "svg", "xhtml", "webmanifest", "ts", "jsx", "tsx", "py", "java", "c", "cpp", "h", "hpp", "cs", "go", "rs", "rb", "swift", "kt", "scala", "lua", "r", "pl", "dart", "png", "jpg", "jpeg", "bmp", "ico", "avif", "tif", "tiff", "jfif", "mp3", "wav", "ogg", "opus", "m4a", "aac", "flac", "mp4", "m4v", "webm", "ogv", "3gp", "pdf", "epub", "woff", "woff2", "eot", "geojson", "ndjson", "fasta", "fastq", "vcf", "bed", "gff", "wasm"];
        document.querySelectorAll('input[name="review"]').forEach(input => input.addEventListener('change', () => {
            const review = reviews.find(r => r.id == input.value);
            document.getElementById('reviewer-and-round').innerHTML = `Reviewer: ${review.reviewerId}, round: ${roundMap.get(review.manuscriptReviewRoundId)}`;
            document.getElementById('review-recommendation').innerHTML = `Recommendation: <b>${review.recommendation}</b>`;
            document.getElementById('reviewer-comment').innerHTML = review.reviewerComment;
            document.getElementById('author-response').innerHTML = review.authorResponse;
            const files = Object.entries(reviewsAndFiles).find(([key, value]) => value.first.id == input.value)[1].second; // ["n", {first: review, second: files}]
            const helper = (files) => Object.fromEntries(files.map(file => {
                const fileType = file.name.slice(file.name.lastIndexOf('.') + 1);
                const options = `<a href="/files?id=${file.id}&fileType=REVIEW">[Download]</a>${inlineDisplayableTypes.includes(fileType) ? `&nbsp<a href="/files?id=${file.id}&fileType=REVIEW&fileAccessType=VIEW">[View]</a>` : ''}`;
                return [file.name, options];
            }));
            reviewerCommentFiles = helper(files.filter(f => f.fileRole === 'REVIEW'));
            authorResponseFiles = helper(files.filter(f => f.fileRole === 'AUTHOR_RESPONSE'));
        }));
        const firstReview = document.querySelector('input[name="review"]');
        if(firstReview) {
            firstReview.checked = true;
            firstReview.dispatchEvent(new Event('change'));
        }
    })();
    document.getElementById('view-full-review').addEventListener('click', () => {
        window.location = `/manuscripts/{{manuscriptId}}/review-history?id=${document.querySelector('input[name="review"]:checked').value}`;
    });

    const ratingTbody = document.getElementById('rating-tbody');
    [
        { label: 'Novelty', name: 'novelty' },
        { label: 'Significance', name: 'significance' },
        { label: 'Technical Quality', name: 'technicalQuality' },
        { label: 'Clarity', name: 'clarity' },
        { label: 'Methodology', name: 'methodology' },
        { label: 'Relevance to the Publication', name: 'relevanceToThePublication' },
        { label: 'Language Quality', name: 'languageQuality' },
        { label: 'Overall Mark', name: 'overallMark' }

    ].forEach(rating => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${rating.label}</td>
            ${['ONE', 'TWO', 'THREE', 'FOUR', 'FIVE'].map(n => `
                <td><input type="radio" class="blue-checkbox" name="${rating.name}" value="${n}" ${n == 'ONE' ? 'required' : ''}></td>
            `).join('')}
        `;
        ratingTbody.appendChild(row);
    });
    const checkQuestionsContainer = document.getElementById('check-questions-container');
    [
        { label: 'Does the introduction provide sufficient background and include all relevant references?', name: 'sufficientBackground' },
        { label: 'Is the research design appropriate?', name: 'appropriateResearchDesign' },
        { label: 'Are the methods adequately described?', name: 'adequatelyDescribed' },
        { label: 'Are the results clearly presented?', name: 'clearlyPresented' },
        { label: 'Are the conclusions supported by the results?', name: 'supportedConclusions' }
    ].forEach(question => {
        const div = document.createElement('div');
        div.className = 'check-question';
        div.style = 'display: flex; align-items: center; margin: 0.5rem 0; gap: 1rem;';
        div.innerHTML = `
            <p style="flex: 1;">${question.label}</p>
            <div class="pale-yellow-checkbox-button" style="display: flex; gap: 0.5rem;">
                <input type="radio" id="${question.name}-yes" name="${question.name}" value="YES"  required>
                <label for="${question.name}-yes" class="checkbox">Yes</label>

                <input type="radio" id="${question.name}-impr" name="${question.name}" value="CAN_BE_IMPROVED" >
                <label for="${question.name}-impr" class="checkbox">Can be improved</label>

                <input type="radio" id="${question.name}-must" name="${question.name}" value="MUST_BE_IMPROVED" >
                <label for="${question.name}-must" class="checkbox">Must be improved</label>
            </div>
        `;
        checkQuestionsContainer.appendChild(div);
    });
    const booleanQuestionsContainer = document.getElementById('boolean-questions-container');
    [
        { label: 'Do you have any conflict of interest regarding this manuscript?', name: 'conflictOfInterest' },
        { label: 'Did you detect plagiarism?', name: 'plagiarism' },
        { label: 'Did you detect inappropriate use of LLM tools?', name: 'llmUsed' },
        { label: 'Did you detect inappropriate self-citations by the authors?', name: 'selfCitation' },
        { label: 'Are the references appropriate and relevant?', name: 'appropriateReferences' },
        { label: 'Do you have any other ethical concerns?', name: 'ethicalConcerns' }
    ].forEach(question => {
        const div = document.createElement('div');
        div.className = 'check-question';
        div.style = 'display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;';
        div.innerHTML = `
            <span>${question.label}</span>
            <div style="display: flex; gap: 0.5rem;">
                <label class="pale-yellow-checkbox-button" style="display: flex;">
                    <input type="radio" name="${question.name}" value="true" required style="height: 1px;">
                    <span class="checkbox" style="width: 3rem; text-align: center;">Yes</span>
                </label>
                <label class="pale-yellow-checkbox-button" style="display: flex;">
                    <input type="radio" name="${question.name}" value="false" style="height: 1px;">
                    <span class="checkbox" style="width: 3rem; text-align: center;">No</span>
                </label>
            </div>
        `;
        booleanQuestionsContainer.appendChild(div);
    });
    const fileInput = document.querySelector('input[type="file"]');
    fileInput.addEventListener('change', () => {
        const forbiddenExtensions = [
            'exe', 'msi', 'bat', 'cmd', 'sh', 'app', 'apk', 'dll', 'so', 'bin', 'iso', 'dmg', 'img', 'pkg',
            'html', 'htm', 'css', 'js', 'php', 'asp', 'aspx', 'psd', 'indd', 'cdr', 'sketch', 'key',
            'gif', 'webp', 'heic', 'heif', 'raw', 'hdf', 'h5', 'sav', 'dta', 'mat', 'rar', '7z', 'ace',
            'tmp', 'bak', '~doc', 'swp', 'ttf', 'otf', 'fon'
        ];
        Array.from(fileInput.files).forEach(file => {
            const fileExtension = file.name.split('.').pop().toLowerCase();
            if(forbiddenExtensions.includes(fileExtension)) {
                alert(`files of type .${fileExtension} are not allowed`);
                fileInput.value = '';
                return;
            }
        });
    });
    const form = document.getElementById('form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const body = new FormData();

        body.append('review', new Blob([JSON.stringify({
            novelty: formData.get('novelty'),
            significance: formData.get('significance'),
            technicalQuality: formData.get('technicalQuality'),
            clarity: formData.get('clarity'),
            methodology: formData.get('methodology'),
            relevanceToThePublication: formData.get('relevanceToThePublication'),
            languageQuality: formData.get('languageQuality'),
            overallMark: formData.get('overallMark'),

            sufficientBackground: formData.get('sufficientBackground'),
            appropriateResearchDesign: formData.get('appropriateResearchDesign'),
            adequatelyDescribed: formData.get('adequatelyDescribed'),
            clearlyPresented: formData.get('clearlyPresented'),
            supportedConclusions: formData.get('supportedConclusions'),

            recommendation: formData.get('recommendation'),

            conflictOfInterest: formData.get('conflictOfInterest'),
            plagiarism: formData.get('plagiarism'),
            llmUsed: formData.get('llmUsed'),
            selfCitation: formData.get('selfCitation'),
            appropriateReferences: formData.get('appropriateReferences'),
            ethicalConcerns: formData.get('ethicalConcerns'),

            reviewerComment: formData.get('reviewerComment')
        })], { type: 'application/json' }));
        for(const file of fileInput.files) body.append('files', file);
        const response = await fetch(`/api/manuscripts/{{manuscriptId}}/reviews`, { method: 'POST', body});
        if(!response.ok) { alert(await response.text()); return; }
        history.back();
    });
</script>
<!-- ||||||||||||| MOVE TO REVIEW PAGE FOR EDITOR TO END ROUND AND USE API TO END ROUND INSTEAD OF NON-EXISTANT>UPDATE-EDITOR-RECOMMENDATION todo
    /* {
        openOptionsDialog('Decide', [
            {name: 'Accept', onClick: async () => {
                if('{{type}}' == 'EIC') window.location = `/manuscripts/${manuscriptId}/technical-processing`;
                else {
                    updateEditorRecommendation(manuscriptId, 'ACCEPT');
                    alert("successfully updated editor recommendation to: accept");
                }
            }},
            {name: 'Minor', onClick: async () => updateManuscriptState(manuscriptId, 'MINOR')},
            {name: 'Major', onClick: async () => updateManuscriptState(manuscriptId, 'MAJOR')},
            {name: 'Reject', onClick: async () => {
                if('{{type}}' == 'EIC') {
                    const response = await fetch(`/api/manuscripts/${manuscriptId}?newState=REJECTED`, { method: 'PUT' });
                    if(!response.ok) { alert(await response.text()); return; }
                    history.back();
                } else {
                    updateEditorRecommendation(manuscriptId, 'REJECT');
                    alert("successfully updated editor recommendation to: reject");
                }
            }}
        ]);
    } */
-->
<dialog id="end-round-dialog" closedby="any">
    <form id="end-round-dialog-form" style="display: flex; flex-direction: column; gap: 0.5rem;">
        <div style="display: flex; gap: 0.5rem;">
            <div style="display: flex; flex-direction: column; gap: 0.5rem;">
                <input type="radio" id="editor-accept" name="editor-recommendation" value="ACCEPT" style="display: none;">
                <label for="editor-accept" class="sidebar-button" style="display: flex; justify-content: center;">Accept</label>

                <input type="radio" id="editor-minor" name="editor-recommendation" value="MINOR" style="display: none;">
                <label for="editor-minor" class="sidebar-button" style="display: flex; justify-content: center;">Minor</label>

                <input type="radio" id="editor-major" name="editor-recommendation" value="MAJOR" style="display: none;">
                <label for="editor-major" class="sidebar-button" style="display: flex; justify-content: center;">Major</label>

                <input type="radio" id="editor-reject" name="editor-recommendation" value="REJECT" style="display: none;">
                <label for="editor-reject" class="sidebar-button" style="display: flex; justify-content: center;">Reject</label>
            </div>
            <div class="text-field" style="margin: 0;">
                <label for="end-round-dialog-textarea">editor's comment</label>
                <textarea id="end-round-dialog-textarea" name="end-round-dialog-textarea" type="text" style="width: 25rem; height: 12.5rem; padding: 1rem; font-size: medium;"></textarea>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="end-round-dialog-negative" type="button" class="m3-button outlined-button">Cancel</button>
            <button class="m3-button primary-button" style="margin-left: 1rem; padding-inline: 1.7rem;">End round</button>
        </div>
    </form>
</dialog>
<script>
    const endRoundDialog = document.getElementById('end-round-dialog');
    document.getElementById('end-round').addEventListener('click', () => endRoundDialog.showModal());
    document.getElementById('end-round-dialog-negative').addEventListener('click', () => endRoundDialog.close());
    document.getElementById('end-round-dialog-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const recommendation = document.querySelector('input[name="editor-recommendation"]:checked').value;
        const editorComment = document.getElementById('end-round-dialog-textarea').value;
        const response = await fetch(`/api/manuscripts/{{manuscriptId}}/review-rounds/end`, { method: 'POST', body: new URLSearchParams({ recommendation, editorComment })});
        if(!response.ok) { alert(await response.text()); return; }
        if('{{type}}' == 'EIC' && recommendation == 'ACCEPT') window.location = `/manuscripts/{{manuscriptId}}/technical-processing`;
        else history.back();
    });
</script>
<style>
    .content {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }
    .container {
        width: auto !important;
        height: auto !important;
        margin-bottom: 1rem;
    }
    aside .container {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: 100;
    }
    .container:hover {
        background-color: white;
    }
    .rating-table td:first-child { /* td is table data */
        text-align: right;
        padding-right: 1rem;
    }
    .rating-table td, .rating-table th {
        padding: 0.1rem 0.4rem;
    }
    .rating-table th {
        padding-left: 0.8rem;
        text-align: center;
    }
    .pale-yellow-checkbox-button .checkbox {
        width: fit-content;
        white-space: nowrap;
        padding: 0.2rem 0.5rem;
    }
    .download-button:hover {
        color: var(--primary) !important;
    }
    @media screen and (max-width: 1300px) {
        .content {
            display: flex;
            flex-direction: column;
        }
        .container .article {
            width: 96vw !important;
            max-width: 100vw !important;
        }
        .recommendations-description {
            width: 96vw !important;
            max-width: 100vw !important;
        }
        .recommendations-tables {
            flex-direction: column !important;
            gap: 1rem !important;
        }
        .rating-table-container {
            width: 100% !important;
            min-width: auto !important;
            max-width: 27rem !important;
        }
        .check-question {
            flex-direction: column !important;
            align-items: flex-start !important;
            gap: 0.5rem !important;
        }
        .check-question p {
            white-space: normal !important;
            max-width: 100% !important;
        }
        .pale-yellow-checkbox-button {
            align-self: flex-start !important;
        }
        .recommendations-tables .container:last-child {
            width: 100% !important;
            max-width: 87vw !important;
            min-width: auto !important;
        }
        .container .article-box {
            order: 1;
            width: 96vw !important;
            max-width: 100vw !important;
            margin-bottom: 1rem;
        }
    }
</style>
</html>