<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Review Round Initialization Page</title>
    <link href="/util.css" rel="stylesheet"/>
</head>

<body>
{{>util/header}}
{{>util/components/manuscript/element}}
{{>util/dialog/info}}
{{>util/dialog/boolean}}
{{>util/dialog/options}}

<div class="main-container" style="display: flex; align-items: flex-start; padding: 1rem; gap: 0.5rem;">
    {{#manuscript}}
        <manuscript-element
            style="width: 100%;"
            id = '{{id}}'
            title = '{{title}}'
            description = '{{description}}'
            corresponding-author = '{{{correspondingAuthor}}}'
            registered-authors = '{{{registeredAuthors}}}'
            unregistered-authors = '{{{unregisteredAuthors}}}'
            submission-date = '{{submissionDate}}'
            files = '{{{files}}}'
            is-overseeing = '{{isOverseeing}}'
            roles = '{{{roles}}}'
            state = '{{state}}'
        ></manuscript-element>
    {{/manuscript}}

    <div style="display: flex; flex-direction: column; gap: 0.5rem;">
        <button id="start-round" class="m3-button green-button" style="box-shadow: none;">Start Round</button>
        <button onclick="window.location = `${window.location.pathname}-history`" class="m3-button primary-button" style="background-color: var(--periwinkle); text-wrap: nowrap;">Review history</button>
        <button id="decide" class="m3-button primary-button">Decide</button>
    </div>
    <script>if('{{type}}' != 'EIC') document.getElementById('decide').hidden = true;</script>
</div>
<main style="flex: 1; min-width: 18rem; padding: 0 2rem ; display: flex; flex-direction: column;">
    <section style="display: flex; gap: 0.5rem;">
        <h2 style="font-weight: normal; display: flex; align-items: center;">Reviewers</h2>
        <div style="display:flex; align-items:center; gap: 0.5rem;">
            <form id="add-reviewer-form">
                <div style="display:flex; align-items:center; gap: 0.5rem;">
                    <div class="text-field">
                        <label for="email">Reviewer email</label>
                        <input id="email" type="email" name="email" placeholder="email@unipu.hr">
                    </div>
                    <button class="m3-button primary-button" style="padding-inline: 1rem; box-shadow: none; text-wrap: nowrap; border-radius: 0.5rem;">+ Add</button>
                </div>
            </form>
        </div>
    </section>
    <section id="reviewers-list" class="users-list" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 0.5rem;">
        {{#reviewers}}
            <button data-email="{{.}}" class="remove-user-button">
                {{.}}
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
            </button>
        {{/reviewers}}
    </section>
</main>
</body>
<script>
    const manuscriptId = window.location.pathname.replace('/manuscripts/', '').replace('/review', ''); // /manuscripts/id/review -> id
    const params = (email) => new URLSearchParams({ email, role: 'REVIEWER', manuscriptId });
    function revokeReviewer(email) {
        openBooleanDialog(`Revoke reviewer privileges for <b>${email}</b>`, `Revoke`, async () => {
            const response = await fetch('/api/account-role-on-manuscript', { method: 'DELETE', body: params(email)});
            if(!response.ok) { alert(await response.text()); return; }
            document.querySelector(`.remove-user-button[data-email="${email}"]`).remove();
        });
    }
    document.querySelectorAll('.remove-user-button').forEach(button => button.addEventListener('click', () => revokeReviewer(button.dataset.email)));
    document.getElementById('add-reviewer-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const emailInput = document.querySelector('input[name="email"]');
        const email = emailInput.value;
        const response = await fetch(`/api/account-role-on-manuscript`, { method: 'POST', body: params(email)});
        if(!response.ok || !email) { alert(await response.text()); return; };
        const newButton = document.createElement('button');
        newButton.className = 'remove-user-button';
        newButton.dataset.email = email;
        newButton.onclick = () => revokeReviewer(email);
        newButton.innerHTML = `
            ${email}
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white">
                <path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
            </svg>
        `;
        document.getElementById('reviewers-list').appendChild(newButton);
        emailInput.value = '';
    });
    const path = window.location.pathname;
    document.getElementById('start-round').addEventListener('click', async () => {
        const response = await fetch(`/api/manuscripts/${manuscriptId}/review-rounds/start`, { method: 'POST' });
        if(!response.ok) { alert(await response.text()); return; }
        history.back();
    });
</script>
<dialog id="decision-dialog" closedby="any">
    editor's recommendation: <span id="decision-dialog-editor-recommendation">[editor has not made a recommendation]</span>
    <br>
    editor's comment:
    <blockquote id="decision-dialog-editor-comment" style="margin: 0.5rem; padding: 0.5rem 0; text-align: center; border-left: 2px solid black; background-color: var(--frost-blue);">[editor has not commented]</blockquote>
    <form id="decision-dialog-form">
        <div style="display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 0.5rem;">
            <p style="text-align: center;">Decision</p>
            <div style="display: flex; gap: 0.5rem; flex-wrap: wrap; justify-content: center;">
                <input type="radio" id="accept" name="decision" value="ACCEPT" style="display: none;">
                <label for="accept" class="sidebar-button" style="display: flex; justify-content: center; width: 5rem;">Accept</label>

                <input type="radio" id="minor" name="decision" value="MINOR" style="display: none;">
                <label for="minor" class="sidebar-button" style="display: flex; justify-content: center; width: 5rem;">Minor</label>

                <input type="radio" id="major" name="decision" value="MAJOR" style="display: none;">
                <label for="major" class="sidebar-button" style="display: flex; justify-content: center; width: 5rem;">Major</label>

                <input type="radio" id="reject" name="decision" value="REJECT" style="display: none;">
                <label for="reject" class="sidebar-button" style="display: flex; justify-content: center; width: 5rem;">Reject</label>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="decision-dialog-negative" type="button" class="m3-button outlined-button">Cancel</button>
            <button id="decision-dialog-positive" class="m3-button primary-button" style="margin-left: 1rem; padding-inline: 1.7rem;">Submit</button>
        </div>
    </form>
</dialog>
<script>
    const decisionDialog = document.getElementById('decision-dialog');
    const decisionDialogForm = document.getElementById('decision-dialog-form')
    if('{{editorRecommendation}}') document.getElementById('decision-dialog-editor-recommendation').innerHTML = '{{editorRecommendation}}';
    if('{{editorComment}}') document.getElementById('decision-dialog-editor-comment').innerHTML = '{{editorComment}}';
    document.getElementById('decide').addEventListener('click', () => decisionDialog.showModal());
    document.getElementById('decision-dialog-negative').addEventListener('click', () => decisionDialog.close());
    decisionDialogForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const decision = (new FormData(decisionDialogForm)).get('decision');
        const manuscriptId = window.location.pathname.replace('/manuscripts/', '').replace('/review', ''); // /manuscripts/id/review -> id
        switch(decision) {
            case 'ACCEPT': window.location = `/technical-processing-page/${manuscriptId}`; break;
            case 'MINOR': case 'MAJOR': case 'REJECT':
                const response = await fetch(`/api/manuscripts/${manuscriptId}?newState=${decision.replace('REJECT', 'REJECTED')}`, { method: 'PUT' });
                if(!response.ok) { alert(await response.text()); return; }
                window.history.back();
        }
    });
</script>
<style>
    .text-field input {
        background-color: white;
    }
    .article-box {
        width: calc(100vw - 4rem) !important;
        margin: 0 2rem !important;
        margin-right: 1rem !important;
    }
    @media (max-width: 1300px) {
        .users-list {
            grid-template-columns: 1fr 1fr 1fr !important;
            margin-left: 0 !important;
        }
    }
    @media (max-width: 800px) {
        .users-list {
            grid-template-columns: 1fr 1fr !important;
        }
        .article-box {
            width: 28rem !important;
            height: 25rem !important;
            margin-left: 0 !important;
        }
        .download-button {
            width: 10rem !important;
            padding-inline: 0.3rem !important;
        }
        .main-container {
            flex-direction: column !important;
            gap: 1rem !important;
            margin-left: 2rem !important;
        }
    }
    @media (max-width: 600px) {
        .users-list {
            grid-template-columns: 1fr !important;
        }
    }
</style>
</html>