<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/util.css" rel="stylesheet"/>
    <title>{{currentPublication}}</title>
</head>
<body>
{{>util/header}}

<main>
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 2rem 1.5rem 1rem 1rem;">
        <h1 style="font-size: 1.5rem; font-weight: 400;">
            {{currentPublication}}
        </h1>
    </div>

    <div style="display: flex; align-items: flex-start;">
        <aside style="display: flex; flex-direction: column; gap: 0.5rem; margin-left: 1rem;">
            {{#publicationsSidebar}}
                <a data-type="sidebar-button" data-id="{{id}}" href="/archive/publication/{{id}}" style="text-decoration: none; color: inherit;">
                    <label class="sidebar-button">
                        <span class="sidebar-button-title">{{title}}</span>
                    </label>
                </a>
            {{/publicationsSidebar}}
        </aside>

        <section style="
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1rem;
            margin: 0 1.5rem 1rem 1.5rem;
          ">
            {{#sections}}
                <div
                        data-id="{{id}}"
                        class="yellow-box"
                        style="cursor: pointer;"
                        onclick="window.location='/archive/publication/{{publicationId}}/section/{{id}}'"
                >
                    <p class="yellow-box-text">{{title}}</p>
                </div>
            {{/sections}}
        </section>
    </div>
</main>
<script>
    const title = document
        .querySelector('a[data-type="sidebar-button"][data-id="{{publicationId}}"]')
        .querySelector('.sidebar-button-title');
    title.style.background = 'var(--purple)';
    title.style.color = 'white';
</script>
</body>
</html>
