<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link href="/util.css" rel="stylesheet"/>
</head>
<body>
{{>util/header}}

<div style="display: flex; justify-content: space-between; align-items: center; margin: 2rem 1.5rem 1rem 1.5rem;">
    <h1 style="font-size: 1.5rem; font-weight: 400; user-select: none;">
        Archive
    </h1>
</div>

<section id="publications" style="flex-direction: row; gap: 1rem; display: flex; flex-wrap: wrap; margin: 1rem 1.5rem;">
    {{#publications}}
        <div
            data-id="{{id}}"
            class="container"
            style="cursor: pointer;"
            onclick="window.location = '/archive/publication/{{id}}'
        ">
            <p class="container-text">{{title}}</p>
        </div>
    {{/publications}}
</section>
</body>
</html>
