<a href="/profile/{{id}}" class="m3-button purple-outline-button" style="border: none; padding: 0.1rem 0.5rem; text-decoration: none;">
    {{full-name}}
    <br>
    <span style="color: lightgrey">{{title}}</span>
</a>
