:root {
    --red: #cf2c27;
    --pink: #ff8686;
    --orange: #ffc284;
    --yellow: #ffe08a;
    --green: #7aed80;
    --purple: black; /*#6b66a1;*/
    --dark-blue: #152e60;
    --blue: #407cff;
    --light-blue: #b0c6ff;
    --gray: #49454f;
    --light-gray: #7e7667;
    --checkbox-gray: #c5c6d0;
    --beige: #cfc6b4;;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
dialog {
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto; position: fixed;
    padding: 1.5rem;
    border: none; border-radius: 0.5rem;
}
.fa-solid.fa-magnifying-glass {
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    color: var(--gray);
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.m3-button {
    border: none;
    padding: 0.8rem 8rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.3);

}
.m3-button:active {
    transform: scale(0.98);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.yellow-button {
    background-color: var(--yellow);
    color: black;

}
.purple-button {
    background-color: var(--purple);
    color: white;

}
.outline-button {
    background-color: transparent;
    color: black;
    border: 0.13rem solid black;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    box-shadow: none;

}
.red-button {
    background-color: var(--red);
    color: white;
    padding: 0.8rem 1rem;
    box-shadow: none;

}
.light-red-button {
    background-color: var(--pink);
    padding: 0.8rem 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);

}
.green-button {
    background-color: var(--green);
    padding: 0.8rem 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);

}
.purple-outline-button {
    background-color: var(--purple);
    border: 0.1rem solid white;
    color: white;
    padding: 0.8rem 1rem;
    box-shadow: none;

}
.purple-outline-button:hover {
    background-color: var(--purple);
}
.orange-button {
    background-color: white;
    border: 0.08rem solid var(--beige);
    border-radius: 0.5rem;
    color: var(--beige);
    padding: 0.3rem 3rem;
    box-shadow: none;
    font-weight: 600;

}
.orange-button:hover {
    background-color: var(--orange);
    color: black;
}
.orange-button:active {
    background-color: var(--orange);
    color: black;
}
.text-field {
    position: relative;
    width: 100%;
    margin: 1.25rem 0;
}
.text-field label {
    position: absolute;
    top: -0.5rem;
    left: 0.75rem;
    font-size: 0.875rem;
    color: var(--light-gray);
    background-color: white;
    padding: 0 0.25rem;

}
.text-field input {
    width: 100%;
    height: 2.7rem;
    padding: 0.3rem 0.75rem 0.5rem;
    font-size: 1rem;
    background: white;
    border: 1.2px solid var(--light-gray);
    border-radius: 0.3rem;
}
.text-field input::placeholder {
    color: var(--light-gray);
}
.error-msg {
    font-size: 0.75rem;
    color: var(--red);
    margin-top: 0.25rem;
    display: none;

}
.error-msg.show {
    display: block;
}
.remove-user-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 2.8rem;
    padding: 1rem 0.75rem 0.8rem;
    font-size: 1rem;
    background: white;
    border: 1.3px solid var(--light-gray);
    cursor: pointer;
}
.remove-user-button:hover {
    background: var(--red);
    color: white;
}
.remove-user-button:active {
    transform: scale(0.98);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.remove-user-button .fa-user-minus {
    margin-left: auto;
    color: black;
    cursor: pointer;
}
.remove-user-button .fa-user-minus:hover {
    color: white;
}
.pale-yellow-checkbox-button input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.pale-yellow-checkbox-button .checkbox {
    width: 9rem;
    height: 1.7rem;
    border: 1.3px solid var(--beige);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige);
    font-size: 1rem;
    background: white;
    cursor: pointer;
}
.pale-yellow-checkbox-button input:checked + .checkbox {
    background: var(--purple);
    color: white;
}
.blue-checkbox {
    appearance: none;
    -webkit-appearance: none; /* for Safari */
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--checkbox-gray);
    border-radius: 0.1rem;
    cursor: pointer;
    position: relative;
    margin: 0.1rem;
}
.blue-checkbox:checked {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}
.blue-checkbox:checked::after {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.5rem;
    border: solid var(--dark-blue);
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg);
    left: 0.23rem;
    bottom: 0.12rem;
}
.container {
    width: 14rem;
    height: 7rem;
    background-color: white;
    border: 1.3px solid var(--beige);
    border-radius: 0.4rem;
    padding: 0.5rem;
    text-align: left;
    overflow-wrap: break-word;
    overflow: auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.container:hover {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.no-hover:hover {
    background-color: white;
    box-shadow: none;
}
.container-buttons {
    margin: auto 0.4rem 0.4rem auto;
    align-self: flex-end;
    display: flex;
    gap: 0.5rem;

}
.container-buttons .m3-button {
    padding: 0.4rem 0.6rem;
    width: 3rem;
    border-radius: 0.3rem;
    min-height: 2rem;
}
.sidebar-button {
    display: flex;
    align-items: center;
    width: 15rem;
    word-wrap: break-word;
    height: auto;
    padding: 0.7rem;
    font-size: 1rem;
    background: white;
    border: 1.3px solid var(--light-gray);
    cursor: pointer;
    flex-wrap: wrap;
}
.sidebar-button input:checked ~ svg, .sidebar-button:hover svg { fill: white; }
.sidebar-button:has(input:checked), .sidebar-button:hover {
    background: var(--purple);
    color: white;
}
.authors {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 0.2rem;
}
.authors button {
    font-weight: 100;
    background-color: inherit;
    border: none;
    width: fit-content;
}
.authors button:hover {
    color: var(--blue);
    cursor: pointer;
}
.authors button + button::before {
    content: ",";
    font-weight: 100;
    margin-right: 0.25rem;
}
.authors button:last-child::before {
    content: "and";
    font-weight: 100;
    margin: 0 0.25rem;
}
.pdf-container {
    border: 1px solid black;
    padding: 0.1rem;
    margin-top: 0.5rem;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 0.5rem;
    color: var(--blue);
}
.pdf-remove-button {
    background-color: inherit;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.2rem;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.2rem;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
}