<dialog id="boolean-dialog" closedby="any">
    <p id="boolean-dialog-message"></p>
    <br>
    <div style="display: flex; justify-content: space-between">
        <button id="boolean-dialog-negative" class="m3-button outlined-button">Cancel</button>
        <button id="boolean-dialog-positive" class="m3-button primary-button" style="margin-left: 1rem; padding-inline: 1.7rem;"></button>
    </div>
</dialog>
<script>
    const booleanDialog = document.getElementById('boolean-dialog');
    const booleanDialogMessage = document.getElementById('boolean-dialog-message');
    const booleanDialogPositive = document.getElementById('boolean-dialog-positive');
    document.getElementById('boolean-dialog-negative').addEventListener('click', () => booleanDialog.close());
    function openBooleanDialog(message, positiveText, onPositive) {
        booleanDialogMessage.innerHTML = message;
        booleanDialogPositive.innerHTML = positiveText;
        booleanDialogPositive.onclick = () => { onPositive(); booleanDialog.close(); }
        booleanDialog.showModal();
    }
</script>