<script>
class Manuscript extends HTMLElement {
  static observedAttributes = ['id', 'title', 'description', 'authors', 'download-url', 'submission-date', 'publication-date', 'options'];
  constructor() { super(); }
  connectedCallback() {
    this.render();
    this.setupEventListeners();
  }
  attributeChangedCallback(name, oldValue, newValue) {
    if(newValue != oldValue) {
      this.render();
      this.setupEventListeners();
    }
  }
  render() {
    this._id = this.getAttribute('id');
    this._title = this.getAttribute('title');
    this._description = this.getAttribute('description');
    this._authors = JSON.parse(this.getAttribute('authors'));
    this._submissionDate = this.getAttribute('submission-date');
    this._publicationDate = this.getAttribute('publication-date');
    this._date = this.getAttribute('date');
    this._downloadUrl = this.getAttribute('download-url');
    this._isOverseeing = this.getAttribute('is-overseeing');
    this._options = this.getAttribute('options');
    this.innerHTML = `
      <article onclick="window.location='${this._downloadUrl}'" class="container" style="width: auto; height: auto; max-width: 100%;">
        <p class="container-text">${this._title}</p>
        <div class="authors" style="display: flex; flex-wrap: wrap; font-weight: 100; font-size: 0.8rem;">
          ${this._authors?.map(author => `<button>${author}</button>`).join('')}
        </div>
        <p style="font-weight: 100; font-size: 0.8rem; margin-bottom: 0.5rem; margin-top: 0.2rem;">
          ${this._publicationDate && this._publicationDate !== 'null' ? `Published: ${this._publicationDate}` : `Submitted: ${this._submissionDate}`}
        </p>
        <p style="font-weight: 100; font-size: 0.8rem">${this._description}</p>
        <footer class="container-buttons" style="margin-top: 0.5rem; margin-bottom: 0;">
          ${this._options ? this._options : ''}
        </footer>
      </article>
    `;
  }
  _removeOldListeners() {
    if(this._acceptHandler) {
      this.querySelector('button[data-type="accept"]')?.removeEventListener('click', this._acceptHandler);
      this._acceptHandler = null;
    }
    if(this._declineHandler) {
      this.querySelector('button[data-type="decline"]')?.removeEventListener('click', this._declineHandler);
      this._declineHandler = null;
    }
    if(this._republishHandler) {
      this.querySelector('button[data-type="republish"]')?.removeEventListener('click', this._republishHandler);
      this._declineHandler = null;
    }
    if(this._archiveHandler) {
      this.querySelector('button[data-type="archive"]')?.removeEventListener('click', this._archiveHandler);
      this._archiveHandler= null;
    }
    if(this._hideHandler) {
      this.querySelector('button[data-type="hide"]')?.removeEventListener('click', this._hideHandler);
      this._hideHandler = null;
    }
  }
  basicDispatch(name) {
      this.dispatchEvent(new CustomEvent(name, {
        detail: {
          id: this._id,
          title: this._title
        },
        bubbles: true
      }))
  }
  setupEventListeners() {
    this._removeOldListeners();
    this._acceptHandler = () => this.basicDispatch('manuscript-invite-accepted');
    this._declineHandler = () => this.basicDispatch('manuscript-invite-declined');
    this._republishHandler = () => this.basicDispatch('manuscript-republished');
    this._archiveHandler = () => this.basicDispatch('manuscript-archived');
    this._hideHandler = () => this.basicDispatch('manuscript-hidden');
    this.querySelector('button[data-type="accept"]')?.addEventListener('click', this._acceptHandler);
    this.querySelector('button[data-type="decline"]')?.addEventListener('click', this._declineHandler);
    this.querySelector('button[data-type="republish"]')?.addEventListener('click', this._republishHandler);
    this.querySelector('button[data-type="archive"]')?.addEventListener('click', this._archiveHandler);
    this.querySelector('button[data-type="hide"]')?.addEventListener('click', this._hideHandler);
  }
  disconnectedCallback() { this._removeOldListeners(); }
}
customElements.define('manuscript-element', Manuscript);
</script>