<script>
class Manuscript extends HTMLElement {
  static observedAttributes = ['id', 'title', 'description', 'authors', 'download-url', 'submission-date', 'publication-date'];
  constructor() { super(); }
  connectedCallback() { this.render(); }
  attributeChangedCallback(name, oldValue, newValue) {
    if(newValue != oldValue) this.render();
  }
  render() {
    this._id = this.getAttribute('id').replace(/^.*-/, '');
    this._title = this.getAttribute('title');
    this._description = this.getAttribute('description');
    this._authors = JSON.parse(this.getAttribute('authors')?.replace(', ]', ']') || '[]');
    this._submissionDate = this.getAttribute('submission-date');
    this._publicationDate = this.getAttribute('publication-date');
    this._date = this.getAttribute('date');
    this._downloadUrl = this.getAttribute('download-url');
    this.innerHTML = `
      <article data-id="${this._id}" onclick="navigate('${this._downloadUrl}')" class="container" style="width: auto; height: auto; max-width: 100%;">
        <p class="container-text">${this._title}</p>
        <div class="authors" style="display: flex; flex-wrap: wrap; font-weight: 100; font-size: 0.8rem;">
          ${this._authors?.map(author => `<button>${author}</button>`).join('')}
        </div>
        <p style="font-weight: 100; font-size: 0.8rem; margin-bottom: 0.5rem; margin-top: 0.2rem;">
          ${this._publicationDate ? `Published: ${this._publicationDate}` : `Submitted: ${this._submissionDate}`}
        </p>
        <p style="font-weight: 100; font-size: 0.8rem">${this._description}</p>
      </article>
    `;
  }
}
customElements.define('manuscript-element', Manuscript);
</script>