<dialog id="options-dialog" closedby="any">
    <p id="options-dialog-message"></p>
    <div id="options-dialog-container"></div>
</dialog>
<script>
    const optionsDialog = document.getElementById('options-dialog');
    const optionsDialogMessage = document.getElementById('options-dialog-message');
    const optionsDialogContainer = document.getElementById('options-dialog-container');
    function openOptionsDialog(title, options) {
        optionsDialogMessage = title;
        for(const { title, onClick } of options) {
            const newButton = document.createElement('button');
            newButton.id = `options-dialog-option-${title}`;
            newButton.className = 'm3-button';
            newButton.onClick = onClick;
            optionsDialogContainer.append(newButton);
            /*
            <button id="upsert-dialog-negative" class="m3-button outline-button" type="button">Cancel</button>
            <button class="m3-button purple-button" style="box-shadow: none; padding-inline: 1.8rem;">Add</button>
            */
        }
        optionsDialog.showModal();
    }
    /*
    upsertDialogNegative.addEventListener('click', () => upsertDialog.close());
    upsertDialogForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const input = document.getElementById('upsert-dialog-input');
        const upsertResponse = await fetch(_submitUrl + encodeURIComponent(input.value), { method: _method });
        if(!upsertResponse.ok) { alert(await upsertResponse.text()); return; }
        const reloadResponse = await fetch(_reloadUrl, { method: 'GET' });
        if(!reloadResponse.ok) { alert(await reloadResponse.text()); return; }
        const items = await reloadResponse.json();
        renderItems(items, _container);
        upsertDialogInput.value = '';
        upsertDialog.close();
    })
    */
</script>