<dialog id="upsert-dialog" closedby="any">
    <p id="upsert-dialog-message"></p>
    <form id="upsert-dialog-form">
        <div class="text-field">
            <label for="upsert-dialog-input">title</label>
            <input id="upsert-dialog-input" name="upsert-dialog-input" type="text">
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="upsert-dialog-negative" class="m3-button outline-button" type="button">Cancel</button>
            <button id="upsert-dialog-positive" class="m3-button purple-button" style="box-shadow: none; padding-inline: 1.8rem;"></button>
        </div>
    </form>
</dialog>
<script>
    const upsertDialog = document.getElementById('upsert-dialog');
    const upsertDialogMessage = document.getElementById('upsert-dialog-message');
    const upsertDialogForm = document.getElementById('upsert-dialog-form');
    const upsertDialogInput = document.getElementById('upsert-dialog-input')
    const upsertDialogPositive = document.getElementById('upsert-dialog-positive');
    document.getElementById('upsert-dialog-negative').addEventListener('click', () => upsertDialog.close());
    let upsertDialogMethod, upsertDialogSubmitUrl, upsertDialogReloadUrl, upsertDialogContainerId;
    function openUpsertDialog(message, method, submitUrl, reloadUrl, containerId, inputValue) {
        upsertDialogMessage.innerHTML = message;
        upsertDialogMethod = method;
        upsertDialogInput.value = inputValue;
        upsertDialogPositive.innerHTML = method == 'POST' ? 'Add' : 'Update';
        upsertDialogSubmitUrl = submitUrl;
        upsertDialogReloadUrl = reloadUrl;
        upsertDialogContainerId = containerId;
        upsertDialog.showModal();
    }
    upsertDialogForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const input = document.getElementById('upsert-dialog-input');
        const upsertResponse = await fetch(upsertDialogSubmitUrl + encodeURIComponent(input.value), { method: upsertDialogMethod });
        if(!upsertResponse.ok) { alert(await upsertResponse.text()); return; }
        const reloadResponse = await fetch(upsertDialogReloadUrl, { method: 'GET' });
        if(!reloadResponse.ok) { alert(await reloadResponse.text()); return; }
        const items = await reloadResponse.json();
        renderItems(items, upsertDialogContainerId);
        {
            const upsertedSidebarButton = document.querySelector(`sidebar-button[title="${input.value}"]`);
            const sidebar = document.getElementById(upsertDialogContainerId)
            const sidebarRect = sidebar.getBoundingClientRect();
            const upsertedSidebarButtonRect = upsertedSidebarButton.getBoundingClientRect();
            const currentScroll = sidebar.scrollTop;
            const offsetTop = upsertedSidebarButtonRect.top - sidebarRect.top + currentScroll;
            const targetScroll = offsetTop - (sidebar.clientHeight / 2) + (upsertedSidebarButtonRect.height / 2);
            sidebar.scrollTo({ top: targetScroll, behavior: 'smooth' });
            upsertedSidebarButtonInput = upsertedSidebarButton.querySelector('input');
            switch(upsertDialogMethod) {
                case 'POST': upsertedSidebarButtonInput.click(); break;
                case 'PUT': upsertedSidebarButtonInput.checked = true; break;
                default: console.log('invalid method');
            }
        }
        upsertDialogInput.value = '';
        upsertDialog.close();
    });
</script>