<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Page</title>
    <link href="/util.css" rel="stylesheet"/>
</head>
<body>
    {{>util/header}}

    <h1 style="font-size: 3.5rem; text-align: center; padding-top: 5rem;">Unipu Journals</h1>
    <p style="font-size: 1.3rem; color: var(--light-gray); margin-bottom: 3rem; margin-left: 0.25rem; text-align: center;">University of Pula academic journals</p>

    <div style="text-align: center; font-size: 1.2rem; margin-top: 6rem;">
        <p>A: Zagrebačka 30</p>
        <p>52100 Pula</p>
        <p>Hrvatska</p>
        <br>
        <br>
        <p>T: +385 52 377 000</p>
        <p>F: +385 216 416</p>
        <br>
        <br>
        <p>E: ured@unipu.hr</p>
        <p>W: www.unipu.hr</p>
    </div>
</body>
</html>