<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <link rel="stylesheet" href="util.css"/>
</head>
<body>
    <main class="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; height: 100vh; width: 100vw; gap: 10vw; margin-inline: 1rem;">
        <section style="max-width: 28rem; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1; min-width: 22rem; padding-top: 4rem;">
            <h1 style="font-size: 3.5rem; align-self: flex-start; user-select: none;">Unipu Journals</h1>
            <p style="font-size: 1.3rem; color: var(--light-gray); margin-bottom: 3rem; align-self: flex-start; margin-left: 0.25rem; user-select: none;">Root page</p>
            <div style="max-width: 22.5rem; width: 100%; display: flex; flex-direction: column; align-items: center;">
                <p style="font-size: 1.8rem; font-weight: normal; margin-top: 2rem; align-self: center; user-select: none;">Update password</p>
                <form id="update-password-form" style="width: 100%;">
                    <div class="text-field">
                        <label>password</label>
                        <input name="password" type="password" required>
                    </div>
                    <div class="text-field">
                        <label>repeat password</label>
                        <input name="passwordConfirmation" type="password" required>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button class="m3-button yellow-button">Update</button>
                    </div>
                </form>
                    <p id="password-mismatch" class="error-msg" style="margin-top: 1rem; font-size: 0.9rem; text-align: center; text-decoration: underline;">
                        Password mismatch.
                    </p>
                    <p id="successfully-updated-password" class="error-msg" style="margin-top: 1rem; font-size: 0.9rem; text-align: center; text-decoration: underline; color: green;">
                        successfully updated password.
                    </p>
            </div>
        </section>
        <div style="flex: 1; min-width: 18rem; max-width: 32rem; padding: 4rem 2rem 0 2rem; display: flex; flex-direction: column;">
            <section>
                <h2 style="font-weight: normal; user-select: none;">Admins</h2>
                <form id="assign-admin-form">
                    <div style="display:flex; align-items:center; gap: 0.5rem;">
                        <div class="text-field">
                            <label>admin mail</label>
                            <input name="email" type="email" style="background-color: white" placeholder="email@unipu.hr">
                        </div>
                        <button class="m3-button purple-button" style="padding-inline: 1rem; box-shadow: none; text-wrap: nowrap;">+ Add</button>
                    </div>
                </form>
            </section>
            <section id="admin-list" class="users-list" style="display: grid; grid-template-columns: 1fr 1fr; gap: 0.6rem;">
                {{#adminEmails}}
                    <button class="remove-user-button" data-email="{{.}}">
                        {{.}}
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
                    </button>
                {{/adminEmails}}
            </section>
        </div>
    </main>
    <dialog id="dialog" closedby="any" style="
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto; position: absolute;
        padding: 1.5rem;
        border: none; border-radius: 0.5rem;
    ">
        <p id="dialog-message"></p>
        <br>
        <div style="display: flex; justify-content: space-between">
            <button id="dialog-negative" class="m3-button outline-button">Cancel</button>
            <button id="dialog-positive" class="m3-button red-button">Remove</button>
        </div>
    </dialog>
</body>
<style>
    @media (max-width: 768px) {
        .users-list {
            grid-template-columns: 1fr !important;
        }
        .wrapper {
            gap: 1rem !important;
        }
        .remove-user-button {
            width: 18rem !important;
        }
    }
</style>
<script>
    const dialog = document.getElementById('dialog');
    let currentEmail = null

    document.getElementById('dialog-negative').addEventListener('click', () => dialog.close())
    document.getElementById('dialog-positive').addEventListener('click', async () => {
        const response = await fetch(`/root/revoke-admin?email=${encodeURIComponent(currentEmail)}`, { method: 'PUT' });
        if(!response.ok) { alert(await response.text()); return; }
        document.querySelector(`.remove-user-button[data-email="${currentEmail}"]`).remove();
        dialog.close()
    });
    function dialogOpen(email) {
        document.getElementById('dialog-message').innerHTML = `Revoke admin privileges for <b>${email}</b>`;
        currentEmail = email
        dialog.showModal();
    }
    document.querySelectorAll('.remove-user-button').forEach(button => {
        button.addEventListener('click', () => dialogOpen(button.dataset.email));
    });
    const updatePasswordForm = document.getElementById('update-password-form');
    const passwordMismatch = document.getElementById('password-mismatch')
    const successfullyUpdatedPassword = document.getElementById('successfully-updated-password')
    updatePasswordForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const response = await fetch('/root/update-password', {
            method: 'PUT',
            body: new URLSearchParams({
                password: updatePasswordForm.password.value,
                passwordConfirmation: updatePasswordForm.passwordConfirmation.value
            })
        });
        updatePasswordForm.password.value = '';
        updatePasswordForm.passwordConfirmation.value = '';
        updatePasswordForm.password.focus();
        if(!response.ok) {
            if(await response.text() == 'password-mismatch') {
                passwordMismatch.style.display = 'inline-block';
                successfullyUpdatedPassword.style.display = 'none';
            } else alert(await response.text());
            return; 
        }
        passwordMismatch.style.display = 'none';
        successfullyUpdatedPassword.style.display = 'inline-block';
    });
    document.getElementById('assign-admin-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const emailInput = document.querySelector('input[name="email"]');
        const email = emailInput.value;
        const response = await fetch(`/root/assign-admin?email=${encodeURIComponent(email)}`, { method: 'PUT' });
        if(!response.ok || !email) { alert(await response.text()); return; }
        const newButton = document.createElement('button');
        newButton.className = 'remove-user-button';
        newButton.dataset.email = email;
        newButton.onclick = () => dialogOpen(email);
        newButton.innerHTML = `
            ${email}
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="24px" fill="white">
                <path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
            </svg>
        `;
        document.getElementById('admin-list').appendChild(newButton);
        emailInput.value = '';
    });
</script>
</html>
