<select aria-label="sorting" name="sorting">
    <option value="ALPHABETICAL_A_Z">Alphabetical (A-Z)</option>
    <option value="ALPHABETICAL_Z_A">Alphabetical (Z-A)</option>
    <option value="NEWEST">Newest publications</option>
    <option value="OLDEST">Oldest publications</option>
</select>
<script>const sortingSelect = document.querySelector('select[name="sorting"]');</script>