<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Configure Category</title>
    <link href="/util.css" rel="stylesheet"/>
</head>

<body style="margin-left: 3rem; margin-top: 2rem;">

<div style="display: flex; align-items: flex-start; justify-content: space-between;">
    <div class="header" style="margin: 1.5rem 0 0 1.5rem;">
        <h1 style="font-size: 3.5rem; align-self: flex-start;">Unipu Journals</h1>
        <p style="font-size: 1.3rem; color: var(--light-gray); margin-bottom: 3rem; align-self: flex-start; margin-left: 0.25rem;">Configure category</p>
    </div>

    <button onclick="window.location='/submit'" class="m3-button purple-button" style="padding-inline: 2.5rem; font-size: 1.5rem; box-shadow: none; text-wrap: nowrap; margin-right: 2rem; border-radius: 0.5rem; margin-top: 2rem; text-decoration: none;">Done</button>
</div>

<main style="flex: 1; min-width: 18rem; max-width: 32rem; padding: 1rem 2rem 0 2rem; display: flex; flex-direction: column;">
    <section>
        <h2 style="font-weight: normal;">Category</h2>
        <form id="add-category-form">
            <div style="display:flex; align-items:center; gap: 0.5rem;">
                <div class="text-field">
                    <input type="text" name="category" placeholder="Journal">
                </div>
                <button class="m3-button purple-button" style="padding-inline: 1rem; box-shadow: none; text-wrap: nowrap; border-radius: 0.5rem;">+ Add</button>
            </div>
        </form>
    </section>

    <section class="category-list" id="category-list" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 0.6rem; column-gap: 1.3rem;">
        {{#categories}}
            <button class="remove-user-button" data-category="{{.}}">
                {{.}}
                <p style="color: white; font-weight: bold;">—</p>
            </button>
        {{/categories}}
    </section>
</main>

<dialog id="dialog" closedby="any" style="
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto; position: absolute;
        padding: 1.5rem;
        border: none; border-radius: 0.5rem;
    ">
    <p id="dialog-message"></p>
    <br>
    <div style="display: flex; justify-content: space-between">
        <button id="dialog-negative" class="m3-button outlined-button">Cancel</button>
        <button id="dialog-positive" class="m3-button red-button">Remove</button>
    </div>
</dialog>
</body>

<script>
    const dialog = document.getElementById('dialog');
    let currentCategory = null

    document.getElementById('dialog-negative').addEventListener('click', () => dialog.close())
    document.getElementById('dialog-positive').addEventListener('click', async () => {
        const response = await fetch(`/api/categories?name=${encodeURIComponent(currentCategory)}`, { method: 'DELETE' });
        if(!response.ok) { alert(await response.text()); return; }
        document.querySelector(`.remove-user-button[data-category="${currentCategory}"]`).remove();
        dialog.close()
    });
    function dialogOpen(category) {
        document.getElementById('dialog-message').innerHTML = `Remove <b>${category}</b>?`;
        currentCategory = category
        dialog.showModal();
    }
    document.querySelectorAll('.remove-user-button').forEach(button => {
        button.addEventListener('click', () => dialogOpen(button.dataset.category));
    });
    document.getElementById('add-category-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const categoryInput = document.querySelector('input[name="category"]');
        const category = categoryInput.value;
        const response = await fetch(`/api/categories?name=${encodeURIComponent(category)}`, { method: 'POST' })
        if(!response.ok || !category) { alert(await response.text()); return; }
        const newButton = document.createElement('button');
        newButton.className = 'remove-user-button';
        newButton.dataset.category = category;
        newButton.onclick = () => dialogOpen(category);
        newButton.innerHTML = `
            ${category}
            <p style="color: white; font-weight: bold;">—</p>
        `;
        document.getElementById('category-list').prepend(newButton);
        categoryInput.value = ''; // clear input field
    });
</script>

<style>
    .text-field input {
        background-color: white;
    }
    @media (max-width: 1300px) {
        .category-list {
            grid-template-columns: 1fr 1fr 1fr !important;
        }
    }
    @media (max-width: 800px) {
        .category-list {
            grid-template-columns: 1fr 1fr !important;
        }

        main {
            flex-direction: column !important;
            gap: 1rem !important;
            margin-left: 2rem !important;
        }
    }
    @media (max-width: 600px) {
        .category-list {
            grid-template-columns: 1fr !important;
        }
    }
</style>
</html>