<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Submit Page</title>
    <link rel="stylesheet" href="/util.css" />
</head>
{{#manuscript}}
<body>
{{>util/header}}
{{>util/components/manuscript/element}}
{{>util/dialog/boolean}}
{{>util/dialog/info}}

<div style="margin: 2rem; padding: 2rem; background-color: white; border: 1.3px solid var(--beige); border-radius: 0.4rem;">
    <manuscript-element
        style="width: 100%;"
        id = '{{id}}'
        title = '{{title}}'
        description = '{{description}}'
        corresponding-author = '{{{correspondingAuthor}}}'
        registered-authors = '{{{registeredAuthors}}}'
        unregistered-authors = '{{{unregisteredAuthors}}}'
        submission-date = '{{submissionDate}}'
        files = '{{{files}}}'
        is-overseeing = '{{isOverseeing}}'
        roles = '{{{roles}}}'
        category = '{{category}}'
        state = '{{state}}'
    ></manuscript-element>
    <form>
        <br>
        <div class="text-field" style="width: 100%; margin-top: -0.5rem;">
            <label>title</label>
            <input name="title" value="{{title}}" type="text" required>
        </div>

        <div style="display: flex; gap: 0.3rem;">
            <select name="category" class="dropdown">
                {{#categories}}<option value="{{.}}">{{.}}</option>{{/categories}}
            </select>
            <script>document.querySelector('select[name="category"]').value = '{{category}}';</script>

            <select name="publication" class="dropdown">
                {{#publications}}<option value="{{.}}">{{.}}</option>{{/publications}}
            </select>
            <script>document.querySelector('select[name="publication"]').value = '{{publication}}';</script>

            <select name="section" class="dropdown">
                {{#sections}}<option value="{{.}}">{{.}}</option>{{/sections}}
            </select>
            <script>
                const publicationSelect = document.querySelector('select[name="publication"]')
                const sectionSelect = document.querySelector('select[name="section"]')
                publicationSelect.addEventListener('change', async (event) => {
                    const response = await fetch(`/api/publications/${publicationSelect.value}/sections/titles`, { method: 'GET' });
                    if(!response.ok) { alert(await response.text()); return; }
                    sectionSelect.innerHTML = '';
                    const sectionTitles = await response.json();
                    sectionTitles.forEach(sectionTitle => {
                        newOption = document.createElement('option');
                        newOption.value = sectionTitle;
                        newOption.innerHTML = sectionTitle;
                        sectionSelect.appendChild(newOption);
                    });
                });
            </script>
            <script>document.querySelector('select[name="section"]').value = '{{section}}';</script>
        </div>
        <br><br>

        <p id="registered-authors-p" style="font-size: 0.8rem; color: var(--light-grey); margin-left: 0.5rem; margin-bottom: 0.3rem;" hidden>Registered authors</p>
        <div id="registered-authors"></div>
        <p id="unregistered-authors-p" style="font-size: 0.8rem; color: var(--light-grey); margin-left: 0.5rem; margin-bottom: 0.3rem;" hidden>Unregistered authors</p>
        <div id="unregistered-authors"></div>
        <script>
            JSON.parse('{{{registeredAuthors}}}').forEach(author => {
                document.getElementById('registered-authors-p').hidden = false;
                newAuthorContainer = document.createElement('div');
                newAuthorContainer.className = 'author-container';
                newAuthorContainer.innerHTML = `
                    <div class="text-field">
                        <label>id</label>
                        <input name="registered-author-id" type="text" disabled value="${author.id}">
                    </div>
                    <div class="text-field">
                        <label>full name</label>
                        <input name="registered-author-full-name" type="text" disabled value="${author.fullName}">
                    </div>
                    <button type="button" onclick="window.location='/profiles/${author.id}'" class="m3-button add-author" style="box-shadow: none; padding-inline: 1rem; border-radius: 0.5rem;">View profile</button>
                    <button onclick="this.parentNode.remove()" type="button" class="m3-button add-author" style="box-shadow: none; padding-inline: 1rem; border-radius: 0.5rem;">Remove</button>

                    <label class="pale-yellow-checkbox-button">
                        <input type="radio" name="corresponding-author" hidden ${author.id == JSON.parse('{{{correspondingAuthor}}}').id ? 'checked' : ''}>
                        <span class="checkbox" style="width: 11rem; text-align: center; padding-block: 1.3rem; text-wrap: nowrap;">Corresponding author</span>
                    </label>
                `;
                document.getElementById('registered-authors').appendChild(newAuthorContainer);
            });
            JSON.parse('{{{unregisteredAuthors}}}').forEach(author => {
                document.getElementById('unregistered-authors-p').hidden = false;
                newAuthorContainer = document.createElement('div');
                newAuthorContainer.className = 'author-container';
                newAuthorContainer.innerHTML = `
                    <div class="text-field">
                        <label>full name</label>
                        <input name="author-full-name" type="text" value="${author.fullName}" required>
                    </div>
                    <div class="text-field">
                        <label>institutional email</label>
                        <input name="author-institutional-email" type="email" value="${author.email}" required>
                    </div>
                    <div class="text-field">
                        <label>country</label>
                        <input name="author-country" type="text" value="${author.country}" required>
                    </div>
                    <div class="text-field">
                        <label>affiliation/institution</label>
                        <input name="author-affiliation" type="text" value="${author.affiliation}" required>
                    </div>

                    <button onclick="this.parentNode.remove()" type="button" class="m3-button add-author" style="box-shadow: none; padding-inline: 1rem; border-radius: 0.5rem;">Remove</button>

                    <label class="pale-yellow-checkbox-button">
                        <input type="radio" name="corresponding-author" hidden ${author.email == JSON.parse('{{{correspondingAuthor}}}').email ? 'checked' : ''}>
                        <span class="checkbox" style="width: 11rem; text-align: center; padding-block: 1.3rem; text-wrap: nowrap;">Corresponding author</span>
                    </label>
                `;
                document.getElementById('unregistered-authors').appendChild(newAuthorContainer);
            });
        </script>
        <button id="additional-author-add-author" type="button" class="m3-button add-author" style="box-shadow: none; padding-inline: 1rem; border-radius: 0.5rem; border-color: black;">+ Add author</button>
        <div id="additional-authors"></div>
        <script>
            document.getElementById('additional-author-add-author').addEventListener('click', () => {
                newAuthorContainer = document.createElement('div');
                newAuthorContainer.className = 'author-container';
                newAuthorContainer.innerHTML = `
                    <div class="text-field">
                        <label>full name</label>
                        <input name="author-full-name" type="text" required>
                    </div>
                    <div class="text-field">
                        <label>institutional email</label>
                        <input name="author-institutional-email" type="email" required>
                    </div>
                    <div class="text-field">
                        <label>country</label>
                        <input name="author-country" type="text" required>
                    </div>
                    <div class="text-field">
                        <label>affiliation/institution</label>
                        <input name="author-affiliation" type="text" required>
                    </div>

                    <button onclick="this.parentNode.remove()" type="button" class="m3-button add-author" style="box-shadow: none; padding-inline: 1rem; border-radius: 0.5rem;">Remove</button>

                    <label class="pale-yellow-checkbox-button">
                        <input type="radio" name="corresponding-author" hidden>
                        <span class="checkbox" style="width: 11rem; text-align: center; padding-block: 1.3rem; text-wrap: nowrap;">Corresponding author</span>
                    </label>
                `;
                document.getElementById('additional-authors').appendChild(newAuthorContainer);
            });
        </script>

        <div class="text-field">
            <label for="description">Description</label>
            <textarea id="description" required style="width:100%; resize:vertical; min-height: 20rem; padding: 1rem 2rem; font-size: 1rem; background-color: inherit;">{{description}}</textarea>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <label class="m3-button">
                <span id="file-input-span">Replace files</span>
                <input type="file" multiple style="display: none; box-shadow: none; padding-inline: 1.5rem; border-radius: 0.5rem; margin-bottom: 0.5rem;"/>
            </label>
            <button id="submit" class="m3-button primary-button">Submit</button>
        </div>
        <br> <br>
        <div id="file-list" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
    </form>
</div>
<dialog id="submitting-dialog"><p>Submitting...</p></dialog>
<script>
    const fileInput = document.querySelector('input[type="file"]');
    const fileList = document.getElementById('file-list');
    const submittingDialog = document.getElementById('submitting-dialog');
    submittingDialog.addEventListener('cancel', (e) => e.preventDefault());
    document.querySelector('form').addEventListener('submit', async (event) => {
        event.preventDefault();
        submittingDialog.showModal();

        const category = document.querySelector('select[name="category"]').value;
        if(category == 'category') { alert('select a category'); submittingDialog.close(); return; }

        const publicationTitle = document.querySelector('select[name="publication"]').value;
        if(publicationTitle == 'publication') { alert('select a publication'); submittingDialog.close(); return; }

        const sectionName = document.querySelector('select[name="section"]').value;
        const title = document.querySelector('input[name="title"]').value;
        
        const fullNames = [...document.querySelectorAll('input[name="author-full-name"]')];
        const emails = [...document.querySelectorAll('input[name="author-institutional-email"]')];
        const countries = [...document.querySelectorAll('input[name="author-country"]')];
        const affiliations = [...document.querySelectorAll('input[name="author-affiliation"]')];

        const authors = Array.from(fullNames).map((_, index) => ({
            fullName: fullNames[index].value,
            email: emails[index].value,
            country: countries[index].value,
            affiliation: affiliations[index].value,
        }));

        let correspondingAuthor;
        const correspondingAuthorInput = document.querySelector('input[name="corresponding-author"]:checked');
        if(!correspondingAuthorInput) { alert('select corresponding author'); submittingDialog.close(); return; }
        const parent = correspondingAuthorInput.parentElement.parentElement;
        correspondingAuthor = (parent.querySelector('input[name="registered-author-id"]') ?? parent.querySelector('input[name="author-institutional-email"]')).value;
        if (!correspondingAuthor) { alert('select corresponding author'); submittingDialog.close(); return; author}

        const description = document.getElementById('description').value;

        const formData = new FormData();
        const registeredAuthorIds = Array.from(document.querySelectorAll('input[name="registered-author-id"]')).map(input => Number(input.value));
        formData.append("registeredAuthorIds", new Blob([JSON.stringify(registeredAuthorIds)], { type: "application/json" }));
        formData.append('manuscriptSubmission', new Blob([JSON.stringify({
            title,
            category,
            publicationTitle,
            sectionName,
            authors,
            description
        })], { type: "application/json" }));
        formData.append("correspondingAuthor", correspondingAuthor)
        Array.from(fileInput.files).forEach(file => formData.append("files", file));

        const response = await fetch('/api/manuscripts/{{id}}/technical-processing', { method: 'PUT', body: formData });
        if(!response.ok) { alert(await response.text()); submittingDialog.close(); return; }
        window.location = '/';
    });
    fileInput.addEventListener('change', () => {
        fileList.innerHTML = '';
        const forbiddenExtensions = [
            'exe', 'msi', 'bat', 'cmd', 'sh', 'app', 'apk', 'dll', 'so', 'bin', 'iso', 'dmg', 'img', 'pkg',
            'html', 'htm', 'css', 'js', 'php', 'asp', 'aspx', 'psd', 'indd', 'cdr', 'sketch', 'key',
            'gif', 'webp', 'heic', 'heif', 'raw', 'hdf', 'h5', 'sav', 'dta', 'mat', 'rar', '7z', 'ace',
            'tmp', 'bak', '~doc', 'swp', 'ttf', 'otf', 'fon'
        ];
        Array.from(fileInput.files).forEach(file => {
            const fileExtension = file.name.split('.').pop().toLowerCase();
            if(forbiddenExtensions.includes(fileExtension)) {
                alert(`files of type .${fileExtension} are not allowed`);
                fileInput.value = '';
                submittingDialog.close();
                return;
            }
        });
        Array.from(fileInput.files).forEach(file => {
            const p = document.createElement('p');
            p.innerHTML = file.name;
            fileList.appendChild(p);
        });
    });
</script>
</body>
{{/manuscript}}
<style>
    select { width: 100%; }
    .author-container {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 0.5rem;
        align-items: center;
        padding-inline: 1rem;
        border: 1.3px solid var(--beige);
        border-radius: 0.4rem;
        margin: 1rem 0;
    }
    .author-container .text-field {
        flex: 1 1 12rem;
        min-width: 10rem;
    }
    .author-container .m3-button {
        flex: 0 1 auto;
        min-width: 8rem;
    }
    .author-container .remove-author {
        flex: 0 1 auto;
        min-width: 2.5rem;
        padding: 0.3rem 0.5rem;
    }
    @media (max-width: 480px) {
        .author-container .m3-button {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
        }
    }
    @media (max-width: 768px) {
        .category-list {
            grid-template-columns: 1fr !important;
            justify-items: center;
        }
    }
</style>
</html>