<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Page</title>
    <link href="/util.css" rel="stylesheet"/>
</head>

<body>
<header>
    <button class="logo-button">Unipu Journals</button>

    <nav>
        <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <button class="m3-button darkpurple-white-outline-button">Log in</button>
</header>

<div style="background-color: var(--pale-yellow); border: 1.3px solid var(--beige); border-radius: 0.4rem; user-select: none; width: 95vw; height: 85vh; margin: 2rem auto; box-sizing: border-box; overflow: hidden; position: relative;">

    <h1 style="font-size: 3.5rem; text-align: center; padding-top: 5rem;">Unipu Journals</h1>
    <p style="font-size: 1.3rem; color: var(--light-gray); margin-bottom: 3rem; margin-left: 0.25rem; text-align: center;">University of Pula academic journals</p>

    <div style="text-align: center; font-size: 1.2rem; margin-top: 6rem;">
        <p>A: Zagrebačka 30</p>
        <p>52100 Pula</p>
        <p>Hrvatska</p>
        <br>
        <br>
        <p>T: +385 52 377 000</p>
        <p>F: +385 216 416</p>
        <br>
        <br>
        <p>E: ured@unipu.hr</p>
        <p>W: www.unipu.hr</p>
    </div>

    <div style="display: flex; justify-content: flex-end; align-items: center; padding-right: 3rem;">
        <img src="/Unipu-logo-lat.png" alt="Unipu Logo" style="height: 60vh; opacity: 0.2; margin-top: -21rem;">
    </div>
</div>
</body>
</html>