<!DOCTYPE html>
<html lang="en" style="height: 100%; overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publications</title>
    <link href="/util.css" rel="stylesheet"/>
</head>
<body style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
{{>util/header}}
{{>home/util/sidebar-button}}
{{>home/util/manuscript}}
{{>home/util/upsert-dialog}}
{{>home/util/boolean-dialog}}
{{>home/util/options-dialog}}
{{>home/util/textarea-dialog}}

<script>
    function updateUrl() {
        const publicationIdAndSectionIdParams = new URLSearchParams({
            publicationId: currentPublicationId,
            ...(currentSectionId && { sectionId: currentSectionId})
        });
        history.replaceState(null, '', `/?${publicationIdAndSectionIdParams}&${params()}`);
    }
    function scrollSidebarToCurrentlySelectedElement(type) {
        const button = document.getElementById(`${type}-${type === 'publication' ? currentPublicationId : currentSectionId}`);
        const sidebar = document.getElementById(`${type}s-sidebar`);
        if(!button) {
            sidebar.firstElementChild?.querySelector('input').click();
            return;
        }
        const sidebarRect = sidebar.getBoundingClientRect();
        const buttonRect = button.getBoundingClientRect();
        const currentScroll = sidebar.scrollTop;
        const offsetTop = buttonRect.top - sidebarRect.top + currentScroll;
        const targetScroll = offsetTop - (sidebar.clientHeight / 2) + (buttonRect.height / 2);
        sidebar.scrollTo({ top: targetScroll, behavior: 'smooth' });
        button.querySelector('input').click();
    }
</script>

<style>
    select {
        height: 2.7rem;
        font-size: 1rem;
        background: inherit;
        border: 1.2px solid var(--light-gray);
        border-radius: 0.3rem;
    }
</style>
<div style="display: flex; flex-wrap: wrap; margin: 2rem 1rem 1rem 1rem; gap: 0.5rem;">
    <select aria-label="manuscript state" name="manuscript-state">
        <option value="PUBLISHED">Published manuscripts</option>
        {{#isAuthenticated}}
        <option value="ALL_AWAITING_REVIEW">All awaiting review</option>
        <option value="AWAITING_EIC_REVIEW">Awaiting EiC review</option>
        <option value="AWAITING_EDITOR_REVIEW">Awaiting Editor review</option>
        <option value="AWAITING_REVIEWER_REVIEW">Awaiting reviewer review</option>
        <option value="MINOR_MAJOR">Minor/Major</option>
        <option value="REJECTED">Rejected</option>
        {{/isAuthenticated}}
        <option value="ARCHIVED">Archived</option>
        {{#isAdmin}}<option value="HIDDEN">Hidden</option>{{/isAdmin}}
    </select>
    <select aria-label="affiliation" name="affiliation" {{^isAuthenticated}}hidden{{/isAuthenticated}}>
        <option value="">Regardless of affiliation</option>
        <option value="EIC_ON_PUBLICATION">EiC on publication</option>
        <option value="SECTION_EDITOR">Section editor</option>
        <option value="EIC_ON_MANUSCRIPT">EiC on manuscript</option>
        <option value="EDITOR">Editor on manuscript</option>
        <option value="REVIEWER">Reviewer</option>
        <option value="CORRESPONDING_AUTHOR">Corresponding Author</option>
        <option value="AUTHOR">Author</option>
    </select>
    <select aria-label="category" name="category">
        <option value="">All categories</option>
        {{#categories}}<option value="{{.}}">{{.}}</option>{{/categories}}
    </select>
    <select aria-label="sorting" name="sorting">
        <option value="ALPHABETICAL_A_Z">Alphabetical (A-Z)</option>
        <option value="ALPHABETICAL_Z_A">Alphabetical (Z-A)</option>
        <option value="NEWEST">Newest publications</option>
        <option value="OLDEST">Oldest publications</option>
        <option value="VIEWS">Most viewed</option>
    </select>
    <script>
        const searchParams = new URLSearchParams(window.location.search);
        document.querySelector('select[name="manuscript-state"]').value = searchParams.get('manuscriptStateFilter') || 'PUBLISHED';
        document.querySelector('select[name="affiliation"]').value = searchParams.get('affiliation') || '';
        document.querySelector('select[name="category"]').value = searchParams.get('category') || '';
        document.querySelector('select[name="sorting"]').value = searchParams.get('sorting') || 'ALPHABETICAL_A_Z';
    </script>
    <script>
        function renderItems(items, containerId) {
            const container = document.getElementById(containerId);
            const type = containerId.replace(/s-.*$/, '');
            container.innerHTML = '';
            if(items.length === 0) document.getElementById('manuscripts-container').innerHTML = '';
            if(type === 'manuscript') items.forEach(manuscript => {
                const newManuscript = document.createElement('manuscript-element');
                newManuscript.setAttribute('id', manuscript.id);
                newManuscript.setAttribute('title', manuscript.title);
                newManuscript.setAttribute('description', manuscript.description);
                newManuscript.setAttribute('authors', JSON.stringify(manuscript.authors));
                newManuscript.setAttribute('submission-date', manuscript.submissionDate);
                newManuscript.setAttribute('publication-date', manuscript.publicationDate);
                newManuscript.setAttribute('download-url', manuscript.downloadUrl)
                container.appendChild(newManuscript);
            });
            else items.forEach(sidebarButton  => {
                const newElement = document.createElement('sidebar-button');
                newElement.setAttribute('id', `${type}-${sidebarButton.id}`);
                if(type === 'section') {
                    newElement.setAttribute('font-size', 'small');
                    newElement.setAttribute('description', sidebarButton.description);
                }
                newElement.setAttribute('title', sidebarButton.title);
                newElement.setAttribute('can-edit', sidebarButton.canEdit);
                newElement.setAttribute('can-hide', sidebarButton.canHide);
                container.appendChild(newElement);
            });
            if(type === 'section') {
                const currentSection = document.getElementById(`section-${currentSectionId}`);
                if(currentSection) currentSection.querySelector('input').click();
                else if(items[0]) {
                    document.getElementById(`section-${items[0].id}`).querySelector('input').click();
                    scrollSidebarToCurrentlySelectedElement('section');
                }
            }
            updateUrl();
        }
        publicationTypeSelect = document.querySelector('select[name="publication-type"]');
        affiliationSelect = document.querySelector('select[name="affiliation"]');
        manuscriptStateSelect = document.querySelector('select[name="manuscript-state"]');
        categorySelect = document.querySelector('select[name="category"]');
        sortingSelect = document.querySelector('select[name="sorting"]');
        const params = () => new URLSearchParams({
            manuscriptStateFilter: manuscriptStateSelect.value,
            affiliation: affiliationSelect.value,
            ...(categorySelect.value && { category: categorySelect.value }),
            sorting: sortingSelect.value,
        });
        [manuscriptStateSelect, affiliationSelect, categorySelect, sortingSelect].forEach(select => select.addEventListener('change', async () => {
            const response = await fetch(`/api/publications?${params()}`, { method: 'GET' });
            if(!response.ok) { alert(await response.text()); return; }
            const responsePublications = await response.json();
            const publicationsContainer = document.getElementById('publications-sidebar');
            publicationsContainer.innerHTML = '';
            renderItems(responsePublications, 'publications-sidebar');
            /*
            switch(manuscriptStateSelect.value) {
                case 'PUBLISHED':
                    break;
                case 'ALL_AWAITING_REVIEW':
                    responsePublications.forEach(containerDTO => {
                            in case of the awaiting cases being equivalent use the fall through approach
                            case 1:
                            case 2:
                            case 3: x
                                ...
                            is equivalent to case 1, 2, 3: x
                    });
                    break;
                case 'AWAITING_EIC_REVIEW':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'AWAITING_EDITOR_REVIEW':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'AWAITING_REVIEWER_REVIEW':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'MINOR_MAJOR':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'REJECTED':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'ARCHIVED':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
                case 'HIDDEN':
                    responsePublications.forEach(containerDTO => {

                    });
                    break;
            }
            */
        }));
    </script>
</div>
<main style="display: flex; flex: 1; overflow: hidden;">
    <div style="margin-left: 1rem; height: 100%;">
        <div style="width: 15rem;">
            <button
                id="add-publication"
                onclick="openUpsertDialog('Add publication', 'POST', '/api/publications?title=', `/api/publications?${params()}`, 'publications-sidebar', '')"
                class="m3-button purple-button"
                style="padding: 0.7rem 1.3rem; font-size: 1rem; border-radius: 0.5rem; box-shadow: none; width: 100%; margin-bottom: 0.5rem;"
                {{#isAdmin}}hidden{{/isAdmin}}
            >+ Add publication</button>
            <span id="publications-span" {{#isAdmin}}hidden{{/isAdmin}}>Publications</span>
        </div>
        <aside id="publications-sidebar" style="display: flex; flex-direction: column; gap: 0.5rem; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 4rem;">
            {{#publications}}
                <sidebar-button id="publication-{{id}}" title="{{title}}" can-edit="{{canEdit}}" can-hide="{{canHide}}"></sidebar-button>
            {{/publications}}
        </aside>
    </div>
    <div style="margin-left: 1rem; height: 100%;">
        <div style="width: 15rem;">
            <button
                id="add-section"
                onclick="openUpsertDialog('Add section', 'POST', `/api/publications/${currentPublicationId}/sections?title=`, `/api/publications/${currentPublicationId}/sections?${params()}`, 'sections-sidebar', '')"
                class="m3-button purple-button"
                style="padding: 0.7rem 1.3rem; font-size: 1rem; border-radius: 0.5rem; box-shadow: none; width: 15rem; margin-bottom: 0.5rem;"
                {{^isEicOnPublicationOrAdmin}}hidden{{/isEicOnPublicationOrAdmin}}
            >+ Add Section</button>
            <span id="sections-span" {{#isEicOnPublicationOrAdmin}}hidden{{/isEicOnPublicationOrAdmin}}>Sections</span>
        </div>
        <aside id="sections-sidebar" style="display: flex; flex-direction: column; gap: 0.5rem; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 4rem;"></aside>
    </div>
    <script>
        let currentPublicationId = searchParams.get('publicationId');
        let currentSectionId = searchParams.get('sectionId');
        document.addEventListener('sidebar-button-click', async (event) => {
            const { id, title, isOverseeing } = event.detail;
            const idValue = id.replace(/^.*-/, '');
            const type = id.replace(/-.*$/, '');
            type === 'publication' ? currentPublicationId = idValue : currentSectionId = idValue;
            const url = `/api/publications/${currentPublicationId}/sections${type === 'section' ? `/${currentSectionId}/manuscripts` : ''}?${params()}`;
            const response = await fetch(url, { method: 'GET' });
            if(!response.ok) { alert(await response.text()); return; }
            const items = await response.json();
            const container = type === 'publication' ? 'sections-sidebar': 'manuscripts-container';
            renderItems(items, container);
            if(type === 'publication') {
                if({{isAdmin}} && manuscriptStateSelect.value == 'PUBLISHED') {
                    document.getElementById('add-publication').hidden = false;
                    document.getElementById('publications-span').hidden = true;
                } else {
                    document.getElementById('add-publication').hidden = true;
                    document.getElementById('publications-span').hidden = false;
                }
                if(isOverseeing && manuscriptStateSelect.value == 'PUBLISHED') {
                    document.getElementById('add-section').hidden = false;
                    document.getElementById('sections-span').hidden = true;
                } else {
                    document.getElementById('add-section').hidden = true;
                    document.getElementById('sections-span').hidden = false;
                }
            }
            if(type === 'section') document.getElementById('description').innerHTML = document.getElementById(id).getAttribute('description');
        });
        async function updateHidden(isHidden) {
            const response = await fetch(`/api/publications/${currentPublicationId}${type == 'section' ? `/sections/${currentSectionId}` : ''}?isHidden=${isHidden}`, { method: 'PUT' });
            if(!response.ok) { alert(await response.text()); return; }
            const buttonToRemove = document.getElementById(id);
            const previousButton = buttonToRemove.previousSibling?.previousSibling;
            const nextButton = buttonToRemove.nextSibling?.nextSibling;
            if(previousButton) previousButton.querySelector('input').click();
            else if(nextButton) nextButton.querySelector('input').click();
            else document.getElementById('manuscripts-container').innerHTML = '';
            buttonToRemove.remove();
        }
        document.addEventListener('sidebar-button-option-click', async (event) => {
            const { id, title, canEdit, canHide } = event.detail;
            const idValue = id.replace(/^.*-/, '');
            const type = id.replace(/-.*$/, '');
            openOptionsDialog(title, [
                canEdit && {name: 'Rename', onClick: () => openUpsertDialog(
                    `Rename ${title}`,
                    'PUT',
                    `/api/publications/${currentPublicationId}${type === 'section' ? `/sections/${currentSectionId}` : ''}?title=`,
                    `/api/publications${type === 'section' ? `/${currentPublicationId}/sections` : ''}?${params()}`,
                    `${type}s-sidebar`,
                    title
                )},
                (canHide && manuscriptStateSelect.value == 'PUBLISHED') && {name: 'Hide', onClick: () => openBooleanDialog(`Hide ${title}`, 'Hide', async () => { updateHidden(true); })},
                (canHide && manuscriptStateSelect.value == 'HIDDEN') && {name: 'Unhide', onClick: () => openBooleanDialog(`Unhide ${title}`, 'Unhide', async () => { updateHidden(false); })},
                (type == 'section' && (canEdit || canHide)) && {name: 'Edit description', onClick: () => {
                    const description = document.getElementById('description');
                    openTextareaDialog(`Edit description of ${title}`, 'Edit', description.innerHTML, async () => {
                        const textarea = document.getElementById('textarea-dialog-textarea');
                        const response = await fetch(`/api/publications/${currentPublicationId}/sections/${currentSectionId}?description=${encodeURIComponent(textarea.value)}`, { method: 'PUT' });
                        if(!response.ok) { alert(await response.text()); return; }
                        document.getElementById(id).setAttribute('description', textarea.value);
                        description.innerHTML = textarea.value;
                    });
                }},
                {{isAdmin}} && {
                    name: 'Manage editors',
                    onClick: () => window.location = `/publications/${currentPublicationId}/${type == 'publication' ?  'manage-eic-on-publication' : `sections/${currentSectionId}/manage-section-editor-on-section`}`
                }
            ].filter(Boolean));
        });
    </script>

    <section style="
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0 1.5rem 1rem 1.5rem;
        min-width: 0;
        overflow: hidden;
    ">
        <div>
            <span id="manuscripts-span">Manuscripts</span>
            <article class="container no-hover" style="width: auto; height: auto; cursor: default; max-width: 100%; border-color: var(--primary);">
                <p id="description" class="container-text"></p>
            </article>
        </div>
        <div id="manuscripts-container" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
    </section>
</main>
<script>
    document.getElementById(`publication-${currentPublicationId}`)?.querySelector('input').click();
    scrollSidebarToCurrentlySelectedElement('publication');
</script>
</body>
</html>