<!DOCTYPE html>
<html lang="en" style="height: 100%; overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publications</title>
    <link href="/util.css" rel="stylesheet"/>
</head>
<body style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
{{>util/header}}
{{>util/components/sidebar-button/element}}
{{>util/components/manuscript/element}}
{{>util/dialog/upsert}}
{{>util/dialog/boolean}}
{{>util/dialog/options}}
{{>util/dialog/textarea}}
{{>util/dialog/info}}
<script>
    const searchParams = new URLSearchParams(window.location.search);
    let currentPublicationId = searchParams.get('publicationId');
    let currentSectionId = searchParams.get('sectionId');
    function updateUrl() {
        const publicationIdAndSectionIdParams = new URLSearchParams({
            publicationId: currentPublicationId,
            ...(currentSectionId && { sectionId: currentSectionId})
        });
        history.replaceState(null, '', `/?${publicationIdAndSectionIdParams}&${params()}`);
    }
</script>
<div style="display: flex; flex-wrap: wrap; margin: 2rem 1rem 1rem 1rem; gap: 0.5rem;">
    {{>util/components/select/manuscript-state}}
    {{>util/components/select/role}}
    {{>util/components/select/category}}
    {{>util/components/select/sorting}}
    <input aria-label="from" type="date" name="from">
    <input aria-label="to" type="date" name="to">
    <script>
        const fromInput = document.querySelector('input[name="from"]');
        const toInput =  document.querySelector('input[name="to"]');

        manuscriptStateSelect.value = searchParams.get('manuscriptStateFilter') || 'PUBLISHED';
        roleSelect.value = searchParams.get('role') || '';
        categorySelect.value = searchParams.get('category') || '';
        sortingSelect.value = searchParams.get('sorting') || 'ALPHABETICAL_A_Z';
        fromInput.value = searchParams.get('from') || '';
        toInput.value = searchParams.get('to') || '';

        const params = () => new URLSearchParams({
            manuscriptStateFilter: manuscriptStateSelect.value,
            role: roleSelect.value,
            ...(categorySelect.value  && { category: categorySelect.value }),
            sorting: sortingSelect.value,
            ...(fromInput.value       && { from: fromInput.value }),
            ...(toInput.value         && { to: toInput.value })
        });
        [manuscriptStateSelect, roleSelect, categorySelect, sortingSelect, fromInput, toInput].forEach(x => x.addEventListener('change', async () => {
            const response = await fetch(`/api/publications?${params()}`, { method: 'GET' });
            if(!response.ok) { alert(await response.text()); return; }
            const responsePublications = await response.json();
            const publicationsContainer = document.getElementById('publications-sidebar');
            renderSidebarButtons(responsePublications, 'publications-sidebar');
            updateUrl();
        }));
    </script>
</div>
<main style="display: flex; flex: 1; overflow: hidden;">
    <div style="margin-left: 1rem; height: 100%;">
        <div style="width: 15rem;">
            <button
                id="add-publication"
                onclick="openUpsertDialogHelperUpsertAndReload('Add publication', 'POST', '/api/publications?title=', `/api/publications?${params()}`, 'publications-sidebar', '')"
                class="m3-button primary-button"
                style="padding: 0.7rem 1.3rem; font-size: 1rem; border-radius: 0.5rem; box-shadow: none; width: 100%; margin-bottom: 0.5rem;"
                {{#isAdmin}}hidden{{/isAdmin}}
            >+ Add publication</button>
            <span id="publications-span" {{#isAdmin}}hidden{{/isAdmin}}>Publications</span>
        </div>
        <aside id="publications-sidebar" style="display: flex; flex-direction: column; gap: 0.5rem; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 4rem;">
            {{#publications}}
                <sidebar-button id="publication-{{id}}" title="{{title}}" {{#role}}role="{{role}}"{{/role}}></sidebar-button>
            {{/publications}}
        </aside>
    </div>
    <div style="margin-left: 1rem; height: 100%;">
        <div style="width: 15rem;">
            <button
                id="add-section"
                onclick="openUpsertDialogHelperUpsertAndReload('Add section', 'POST', `/api/publications/${currentPublicationId}/sections?title=`, `/api/publications/${currentPublicationId}/sections?${params()}`, 'sections-sidebar', '')"
                class="m3-button primary-button"
                style="padding: 0.7rem 1.3rem; font-size: 1rem; border-radius: 0.5rem; box-shadow: none; width: 15rem; margin-bottom: 0.5rem;"
                {{^isEicOnPublicationOrAdmin}}hidden{{/isEicOnPublicationOrAdmin}}
            >+ Add Section</button>
            <span id="sections-span" {{#isEicOnPublicationOrAdmin}}hidden{{/isEicOnPublicationOrAdmin}}>Sections</span>
        </div>
        <aside id="sections-sidebar" style="display: flex; flex-direction: column; gap: 0.5rem; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 4rem;"></aside>
    </div>
    <script>
        document.addEventListener('sidebar-button-click', async (event) => {
            const { id, title, role } = event.detail;
            const idValue = id.replace(/^.*-/, '');
            const type = id.replace(/-.*$/, '');
            type === 'publication' ? currentPublicationId = idValue : currentSectionId = idValue;
            const url = `/api${type === 'publication' ? `/publications/${currentPublicationId}/sections` : '/manuscripts'}?${params()}&publicationId=${currentPublicationId}&sectionId=${currentSectionId}`;
            const response = await fetch(url, { method: 'GET' });
            if(!response.ok) { alert(await response.text()); return; }
            const items = await response.json();
            type === 'publication' ?  renderSidebarButtons(items, 'sections-sidebar') : renderManuscripts(items, 'manuscripts-container');
            if(type === 'publication') {
                document.getElementById('add-section').hidden = !({{isAdmin}} || role === 'EIC' && manuscriptStateSelect.value === 'PUBLISHED');
                document.getElementById('sections-span').hidden = ({{isAdmin}} || role === 'EIC' && manuscriptStateSelect.value === 'PUBLISHED');
                document.getElementById('add-publication').hidden = !({{isAdmin}} && manuscriptStateSelect.value === 'PUBLISHED');
                document.getElementById('publications-span').hidden = ({{isAdmin}} && manuscriptStateSelect.value === 'PUBLISHED');
            }
            if(type === 'section') document.getElementById('description').innerHTML = document.getElementById(id)?.getAttribute('description');
            updateUrl();
        });
        async function updateHidden(id, type, isHidden) {
            const response = await fetch(`/api/publications/${currentPublicationId}${type == 'section' ? `/sections/${currentSectionId}` : ''}?isHidden=${isHidden}`, { method: 'PUT' });
            if(!response.ok) { alert(await response.text()); return; }
            const buttonToRemove = document.getElementById(id);
            const previousButton = buttonToRemove.previousElementSibling;
            const nextButton = buttonToRemove.nextElementSibling;
            if(previousButton) previousButton.querySelector('input').click();
            else if(nextButton) nextButton.querySelector('input').click();
            else document.getElementById('manuscripts-container').innerHTML = '';
            buttonToRemove.remove();
        }
        document.addEventListener('sidebar-button-option-click', async (event) => {
            const { id, title, role, isHidden } = event.detail;
            const idValue = id.replace(/^.*-/, '');
            const type = id.replace(/-.*$/, '');
            const canEdit = {{isAdmin}} || type === 'publication' ? role === 'EIC' : ['EIC', 'SECTION_EDITOR'].includes(role);
            const canHide = {{isAdmin}};
            openOptionsDialog(title, [
                canEdit && {name: 'Rename', onClick: () => openUpsertDialogHelperUpsertAndReload(
                    `Rename ${title}`,
                    'PUT',
                    `/api/publications/${currentPublicationId}${type === 'section' ? `/sections/${currentSectionId}` : ''}?title=`,
                    `/api/publications${type === 'section' ? `/${currentPublicationId}/sections` : ''}?${params()}`,
                    `${type}s-sidebar`,
                    title
                )},
                (canHide && manuscriptStateSelect.value === 'PUBLISHED') && {name: 'Hide', onClick: () => openBooleanDialog(`Hide ${title}`, 'Hide', async () => { updateHidden(id, type, true); })},
                (canHide && manuscriptStateSelect.value === 'HIDDEN' && isHidden) && {name: 'Unhide', onClick: () => openBooleanDialog(`Unhide ${title}`, 'Unhide', async () => { updateHidden(id, type, false); })},
                (type == 'section' && canEdit) && {name: 'Edit description', onClick: () => {
                    const description = document.getElementById('description');
                    openTextareaDialog(`Edit description of ${title}`, 'Edit', description.innerHTML, async () => {
                        const textarea = document.getElementById('textarea-dialog-textarea');
                        const response = await fetch(`/api/publications/${currentPublicationId}/sections/${currentSectionId}?description=${encodeURIComponent(textarea.value)}`, { method: 'PUT' });
                        if(!response.ok) { alert(await response.text()); return; }
                        document.getElementById(id).setAttribute('description', textarea.value);
                        description.innerHTML = textarea.value;
                    });
                }},
                ({{isAdmin}} ||  type === 'section' && role === 'EIC') && {
                    name: 'Manage editors',
                    onClick: () => window.location = `/publications/${currentPublicationId}/${type === 'publication' ?  'manage-eic-on-publication' : `sections/${currentSectionId}/manage-section-editor-on-section`}`
                }
            ].filter(Boolean));
        });
    </script>

    <section style="flex: 1; display: flex; flex-direction: column; justify-content: flex-start; gap: 1rem; margin: 0 1.5rem 1rem 1.5rem; min-width: 0; overflow: hidden;">
        <div>
            <span id="manuscripts-span">Manuscripts</span>
            <article class="container no-hover" style="width: auto; height: auto; cursor: default; max-width: 100%; border-color: var(--primary);">
                <p id="description" class="container-text"></p>
            </article>
        </div>
        <div id="manuscripts-container" style="display: flex; flex-direction: column; gap: 0.5rem; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 4rem;">
            <!-- on manuscriptStateSelect.includes('AWAITING'):
                <p style="font-size: 1.5rem; font-weight: 400;">Invited</p>
                <div id="manuscripts-container-invited" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
                <p style="font-size: 1.5rem; font-weight: 400;">Pending</p>
                <div id="manuscripts-container-pending" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
            -->
        </div>
    </section>
</main>
<script>
    document.getElementById(`publication-${currentPublicationId}`)?.querySelector('input').click();
    scrollSidebarToElement({ sidebarId: 'publications-sidebar', elementId: `publication-${currentPublicationId}` });

    // spring session default: 30min
    {{#isAuthenticated}}
        setTimeout(() => {
            window.location = "/login.html";
        }, 1800000);
    {{/isAuthenticated}}
</script>
</body>
</html>