<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/util.css" rel="stylesheet"/>
    <title>{{currentPublication}}</title>
</head>
<body>
{{>util/header}}

<main>
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 2rem 1.5rem 1rem 1rem;">
        <h1 style="font-size: 1.5rem; font-weight: 400;">
            {{currentPublication}}
        </h1>
        {{#isEicOrSuperior}}
            <div style="display: flex; flex-direction: column; gap: 0.3rem; margin-top: 0.5rem;">
                <button id="add-section" class="m3-button purple-button" style="padding: 0.7rem 1.3rem; font-size: 1rem; border-radius: 0.5rem; box-shadow: none;">+ Add section</button>
                <a href="/publication/{{publicationId}}/manage-eic-on-publication" class="yellow-button" style="padding: 0.7rem 2rem; font-size: 1rem; border-radius: 0.5rem; border: none; text-decoration: none;">Manage EiCs</a>
            </div>
        {{/isEicOrSuperior}}
    </div>

    <div style="display: flex; align-items: flex-start;">
        <aside style="display: flex; flex-direction: column; gap: 0.5rem; margin-left: 1rem;">
            {{#publicationsSidebar}}
                <a data-type="sidebar-button" data-id="{{id}}" href="/publication/{{id}}" style="text-decoration: none; color: inherit;">
                    <label class="sidebar-button">
                        <span class="sidebar-button-title">{{title}}</span>
                    </label>
                </a>
            {{/publicationsSidebar}}
        </aside>

        <section style="
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1rem;
            margin: 0 1.5rem 1rem 1.5rem;
          ">
            {{#sections}}
                <div
                    data-id="{{id}}"
                    class="yellow-box"
                    style="cursor: pointer;"
                    onclick="window.location='/publication/{{publicationId}}/section/{{id}}'"
                >
                    <p class="yellow-box-text">{{title}}</p>
                    <div class="yellow-box-buttons">
                        {{#canHide}}
                            <button
                                onclick="event.stopPropagation()"
                                data-type="hide-button"
                                data-id="{{id}}"
                                data-title="{{title}}"
                                class="m3-button purple-button"
                                style="font-size: 0.8rem; width: 3.8rem; box-shadow: none;"
                            >Hide</button>
                        {{/canHide}}
                        {{#canEdit}}
                            <button
                                onclick="event.stopPropagation()"
                                data-type="edit-button"
                                data-id="{{id}}"
                                data-title="{{title}}"
                                class="m3-button yellow-button"
                                style="font-size: 0.8rem; width: 3.8rem; box-shadow: none;"
                            >Edit</button>
                        {{/canEdit}}
                    </div>
                </div>
            {{/sections}}
        </section>
    </div>
</main>
{{#isEicOrSuperior}}
<dialog id="insert-section-dialog" closedby="any">
    <p id="insert-section-dialog-message">Add publication</p>
    <form id="insert-section-dialog-form">
        <div class="text-field">
            <label>title</label>
            <input type="text" name="insert-section-dialog-input">
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="insert-section-dialog-negative" class="m3-button outline-button" type="button">Cancel</button>
            <button class="m3-button purple-button" style="box-shadow: none; padding-inline: 1.8rem;">Add</button>
        </div>
    </form>
</dialog>
<script>
    const insertSectionDialog = document.getElementById('insert-section-dialog');
    document.getElementById('add-section').addEventListener('click', () => insertSectionDialog.showModal());
    document.getElementById('insert-section-dialog-negative').addEventListener('click', () => insertSectionDialog.close());
    document.getElementById('insert-section-dialog-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const sectionTitle = document.querySelector('input[name=insert-section-dialog-input]').value;
        const response = await fetch(`/api/publication/{{publicationId}}/section/insert?title=${encodeURIComponent(sectionTitle)}`, { method: 'POST' });
        if(!response.ok) { alert('failed to add section'); return; }
        location.reload(true);
    });
</script>
{{/isEicOrSuperior}}

<dialog id="update-section-title-dialog" closedby="any">
    <p id="update-section-title-dialog-message"></p>
    <form id="update-section-title-dialog-form">
        <div class="text-field">
            <label>title</label>
            <input type="text" name="update-section-title-dialog-input">
        </div>
        <div style="display: flex; justify-content: space-between">
            <button id="update-section-title-dialog-negative" class="m3-button outline-button" type="button">Cancel</button>
            <button class="m3-button yellow-button" style="box-shadow: none; padding-inline: 0.8rem;">&nbsp&nbsp Edit &nbsp&nbsp</button>
        </div>
    </form>
</dialog>
<script>
    let currentId = null;
    const updateSectionTitleDialog = document.getElementById('update-section-title-dialog');
    const updateSectionTitleDialogMessage = document.getElementById('update-section-title-dialog-message');
    document.querySelectorAll('button[data-type="edit-button"]').forEach(button => {
        button.addEventListener('click', () => {
            updateSectionTitleDialogMessage.innerHTML = `edit title of <b>${button.dataset.title}</b>`;
            currentId = button.dataset.id;
            updateSectionTitleDialog.showModal();
        });
    });
    document.getElementById('update-section-title-dialog-negative').addEventListener('click', () => updatePublicationTitleDialog.close());
    document.getElementById('update-section-title-dialog-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const newSectionTitle = document.querySelector('input[name="update-section-title-dialog-input"]').value;
        const response = await fetch(`/api/publication/{{publicationId}}/section/${currentId}/update-title?title=${encodeURIComponent(newSectionTitle)}`, { method: 'PUT' });
        if(!response.ok) { alert('failed to update section title'); return; }
        location.reload(true);
    });
</script>

<dialog id="hide-section-dialog" closedby="any">
    <p id="hide-section-dialog-message"></p>
    <br>
    <div style="display: flex; justify-content: space-between">
        <button id="hide-section-dialog-negative" class="m3-button outline-button">Cancel</button>
        <button id="hide-section-dialog-positive" class="m3-button red-button" style="margin-left: 1rem;">Remove</button>
    </div>
</dialog>
<script>
    const hideSectionDialog = document.getElementById('hide-section-dialog');
    const hideSectionDialogMessage = document.getElementById('hide-section-dialog-message');
    document.querySelectorAll('button[data-type="hide-button"]').forEach(button => {
        button.addEventListener('click', () => {
            hideSectionDialogMessage.innerHTML = `Hide <b>${button.dataset.title}</b>?`;
            currentId = button.dataset.id;
            hideSectionDialog.showModal();
        });
    });
    document.getElementById('hide-section-dialog-negative').addEventListener('click', () => hideSectionDialog.close());
    document.getElementById('hide-section-dialog-positive').addEventListener('click', async () => {
        const response = await fetch(`/api/publication/{{publicationId}}/section/${currentId}/update-hidden?isHidden=true`, { method: 'PUT' });
        if(!response.ok) { alert('failed to hide Section'); return; }
        document.querySelector(`div[data-id="${currentId}"]`).remove();
        hideSectionDialog.close();
    });
</script>

<script>
    const title = document
        .querySelector('a[data-type="sidebar-button"][data-id="{{publicationId}}"]')
        .querySelector('.sidebar-button-title');
    title.style.background = 'var(--purple)';
    title.style.color = 'white';
</script>
</body>
</html>